[2021-04-16 10:42] benscott opened #1 "Create training datasets list"
List of training datasets, both existing online resources and those produced for SDR.

[2021-04-16 10:46] benscott opened #2 "Pinned insects"
Traing images of pinned insects, with:

- Labelled objects
- Labelled lines
- Verbatim text

[2021-04-16 10:47] benscott opened #3 "Microscope slides"
Training images of microscope slides, with:

- Labelled objects
- Labelled lines
- Verbatim text

[2021-04-16 10:51] benscott opened #4 "Define NER classes"
Provisional list:

- taxon name
- location
- person
- dates
- male/female etc.

[2021-04-16 10:58] benscott opened #5 "Define segmentation object classes"
Provisional list:

- Specimen
- Labels
     - Type label
     - Text label
- Stamps
- Scale bar
- Colour bar
- Barcode

[2021-04-16 10:59] llivermore commented on #4
Also

- Identifiers (aquisition strings/numbers, collector numbers, barcode numbers)
- Type status
- Ecological relationship (edge case for some microscope slides of parasites/pests but these make up a lot of microscope slides)
- Institution/collection code

NB: A lot of these map to existing DarwinCore terms but people map to multiple terms ([identifiedBy](https://dwc.tdwg.org/list/#dwc_identifie

[2021-04-16 16:12] benscott opened #6 "Georg"
Georg currently has RESTful interface; add CLI interface to API

Documentation required:
- Input/output schema
- Provide example content types

[2021-04-16 16:14] llivermore opened #7 "Annotate text lines in herbarium sheet dataset"
Training images of herbarium sheets, with:

- Labelled objects
- Labelled lines
- Verbatim text
- Tagged entities within verbatim text

Need to discuss outstanding work with Teklia and Mathias Dillen.

[2021-04-16 16:21] benscott opened #8 "Dummy pipeline"
Actions from meeting 16th April 2021 (BS; PB)

PB:
- Compose basic workflow
- Identify how intitiation step should be built.  Should it be a tool - in which case, how to make it required. Or are there preprocessing hooks?

BS:
 - Create simple Docker image (resize image/convert to greyscale?)
 - Wrap it as a galaxy component
 - TBC: JSON input schema validation / JSON output.  We don't want to rei

[2021-04-16 16:23] llivermore opened #9 "ProvenanceWeek 2021 Abstract"
One page abstract describing provenance of natural history specimens.

In progress [Google Doc](https://docs.google.com/document/d/1E6NAAatAIhEaFv7o0cklf88huFzIiv8_tfCt028fNX0).

T7 Abstract Submission: May 1st, 2021
https://iitdbgroup.github.io/ProvenanceWeek2021/t7.html

[2021-04-21 12:37] llivermore commented on #7
Need to segment the specimens - can this be automated? MD to trial

[2021-04-21 14:21] llivermore commented on #4
Following discussions with Teklia (CK) we can add, merge or delete NER classes as we go along. Still useful to have a rough list that fits with existing components and likely text outputs.

[2021-04-21 14:46] benscott opened #10 "Descriptive tasks"
Each pipeline component needs to be self-descriptive and self-validating.

- Component API will return input schema
- Input schema will identify required & optional fields
- Component API to return output schema
- Component will validate input schema
- On validation failure, component will update object processing log

Processing will be the same across each component and we do not want to reinven

[2021-04-21 14:52] benscott opened #11 "Determine provenance approach"
Each component will update specimen object provence data with actions taken on specimen object, and task metatdata including:

- Component task ID
- Processing time
- TBC ?

This should be abstracted, so we have a common and reusable function.

As with #10 can this be a wrapper/Galaxy preprocessing step around the pipeline component?

[2021-04-23 05:55] llivermore opened #12 "SDR Project Presentation - CETAF ISTC/DWG"
Meeting agenda: https://cetafdigitization.biowikifarm.net/cdig/ISTC_DWG_Meeting_Spring_2021
15 minute presentation on summary of work done so far

[2021-04-25 10:04] llivermore opened #13 "Export format for handwritten document processing results"
ALTO, Page XML, TEI and JSON/JSON-LD are discussed with examples by Teklia: https://teklia.com/blog/2021-export-formats/

Current recommendation and approach is to use JSON/JSON-LD

[2021-04-25 10:04] #13 closed

[2021-04-26 12:16] llivermore commented on #12
Livermore, Laurence (2021): Specimen Data Refinery: Project Overview and Update. figshare. Presentation. https://doi.org/10.6084/m9.figshare.14472570.v1

[2021-04-26 12:16] #12 closed

[2021-04-26 13:53] llivermore opened #14 "Paper: Special issue of the Data Intelligence Journal on “Canonical Workflow Frameworks for Research”"
Working title: The Specimen Data Refinery - A canonical workflow framework and FAIR Digital Object approach to speeding up digital mobilisation of natural science collections

Due date: full paper of maximally 8 pages submitted by 1 August 2021.

[2021-04-26 14:22] llivermore opened #15 "Paper: "Envisaging a global virtual image infrastructure for research on biological collection""
Led by Quentin Groom - multiple links to SDR work. In-progress, target journal TBC, target submission date TBC.

[2021-04-27 12:16] llivermore opened #16 "Set up staging image server"
We need an image server for the SDR prototype (MVP) and it has been suggested (by Alex Hardisty/Wouter Addink) that this would be done as part of the DiSSCo Image server pilot (images.nsidr.org)

- Will be based on CORDRA object server where each image is a separate FDO.
- Will allow exploration of code execution (e.g., ML training) as operations on images, alongside the server.
- Will allow explo

[2021-04-27 13:16] hardistyar commented on #16
As an interim measure until the image server is up and running the dummy workflow (#8) can make do with a dummy image server by using nsidr.org itself. That just requires depositing a JSON schema for the image objects and an account through which the workflow can access them. Ideally, the dummy workflow should use the DOIP client but HTTP works too.

[2021-04-27 13:18] hardistyar opened #17 "Define a JSON schema for image objects"
A CORDRA compatible JSON schema for image objects is needed.

[2021-04-27 13:23] hardistyar opened #18 "Implement the open Digital Specimen specification upon stable release"
A definition and corresponding CORDRA compatible JSON schema is needed for a Digital Specimen structure meeting the needs of the SDR MVP. Must be able to hold multiple images and and defined data capture/enrichment fields. This list of fields needs to be defined by @llivermore .

[2021-04-27 16:26] llivermore commented on #2
@mlbonhomme and @martinteklia

I have started annotating the Pinned Insects in ArkIndex (https://arkindex.teklia.com/element/f53b200c-8f15-4e5d-b4f5-6db047b95d71) and had a couple of questions:

Can you add some additional types?

- Specimen
- Label
- Scale bar
- Barcode

How many examples should I annotate?

For our DataMatrix barcodes do you want the exact barcode region labelled as in this imag

[2021-04-27 17:34] martinteklia commented on #2
I added the additional types you asked.

I think 50 pages should be enough at first.

Yes, that's good.

To add transcriptions to text lines you should click on the button that looks like A+, instead of changing the name of the text line element.

@mlbonhomme wrote a doc at some point about annotations and she wanted to have a discussion with you about it.

[2021-04-28 08:45] hardistyar commented on #17
The image will be a jpeg file so all we need to do is decide what additional information needs to be stored alongside the image. A PID is assigned automatically when the image object is created. I don't think it's very much info, just a few bits and pieces about where the image came from/who owns it, etc.

[2021-04-28 08:53] llivermore commented on #17
The basic information at the moment will be:
- Institution/owner
- Material type: [Pinned Insect, microscope slide, herbarium sheets]
- Image license (likely to be a Creative Commons license)

There was some discussion at the CETAF ISTC/DWG about a controlled vocabularly to describe what an image contains which would helpful for the SDR.

There are some optional fields that we will want to support

[2021-04-28 11:32] matdillen commented on #4
Building and synthesizing previous posts, I've bolded the ones that we might consider for the MVP:

- **Taxon name**: Ranging from a family name to complex infraspecific names with lots of authorship abbreviations.
- **Location name** or description: Various hierarchies are possible. Country is a key element and may be listed elsewhere on the label as the rest of the locality description. This may

[2021-04-29 10:56] benscott commented on #7
Created repository for training datasets: https://github.com/DiSSCo/sdr-datasets (cc @matdillen )

[2021-04-29 10:56] benscott commented on #3
Created repository for training datasets: https://github.com/DiSSCo/sdr-datasets

[2021-04-29 10:57] benscott commented on #2
Created repository for training datasets: https://github.com/DiSSCo/sdr-datasets

[2021-04-30 09:13] matdillen commented on #7
The dataset is now available at https://github.com/matdillen/sdr-datasets/tree/main/herbarium I forked the repo as I had no write access to the DiSSCo one.

The `annotated-properties-v2.json` file contains annotations with Darwin Core terms and more explicitly with the six entities I emphasized in #4 . Some validation may still be needed, e.g. I noticed that verbatim event dates of `S.D.` cause fa

[2021-05-03 10:10] mlbonhomme commented on #2
There is a now out-dated annotation guide here https://gitlab.com/mlbonhomme/arkindex_annotation/-/tree/master/SYNTHESYS which I'll be updating today, I'll share the link to it here when it's done !

[2021-05-04 08:21] mlbonhomme commented on #2
Here are the updated annotation guidelines: https://notes.teklia.com/s/zO3O4i_-p. I am of course available to discuss them if there is anything strange or wrong about them, and if you need different element types they can always be added.

I took a look at the existing annotations and some of them will need to be deleted or corrected I think, as I saw that the element tyoe "decoration" was used, a

[2021-05-05 12:44] llivermore commented on #5
- Cover slip (microscope slides only)

[2021-05-05 15:08] llivermore commented on #2
@mlbonhomme is [Specimen 010266087](https://arkindex.teklia.com/element/2e3b6638-b1f0-4a88-aad0-2dedd08749ab) correctly annotated?

[2021-05-05 15:13] mlbonhomme commented on #2
@llivermore it looks fine to me! maybe label 12 should be a barcode/qrcode if we want to try to identify those? or maybe only the qr code itself should be annotated as such, I don't really know what would be best or if it would make much of a difference when training later on

[2021-05-05 15:16] llivermore commented on #2
@mlbonhomme Apologies - Label 12 was a duplicate of Barcode 13. I had accidentally renamed the names of the types and duplicated it when attempting to tidy >_< It should be fixed now. I'll go through and fix the rest and will ask one of my team to do some more next Monday (2021-05-10).

[2021-05-06 11:38] llivermore commented on #2
@mlbonhomme I have annotated the first 20 specimen images. Could you check them and give feedback/suggestions for improvement?

I had a few questions/notes:
- I have not added text lines for the scale bar text (e.g. "mm" or the numbers).
- On [Specimen 010516659](https://arkindex.teklia.com/element/4f28a97e-850d-4339-bf60-cdeb7d1b7d20) are the shapes of **Text line 1** and **Text line 2** okay? On

[2021-05-07 09:11] mlbonhomme commented on #2
- There is no need to mark white space in any special way, and text lines with gaps in them are fine
- It is a little redundant (and annoying to annotate) to have both `label` and `text line` when there is only one text line in the label, but I think it will be simpler later on than having to deal with particularities (especially since the annotations are not hierarchical, so to see if a text line

[2021-05-10 22:22] llivermore commented on #2
@martinteklia and @mlbonhomme between myself and Niki (one of my team) we have annotated the first 50 specimens in the Pinned Insects (NHMUK) dataset. We can annotate more when required.

Is it useful to you to indicate the language of label text? In the previously curated [herbarium sheet dataset](https://doi.org/10.3897/BDJ.7.e31817), language was one of the selection requirements. I noticed we

[2021-05-11 11:57] llivermore opened #19 "Paper: 10 Simple Rules for making a software tool workflow-ready"
Paper providing guidance for writing software intended to slot in as a tool within a workflow; or on converting an existing standalone research-quality software tool into a reusable, composable, well-behaved citizen within a larger workflow.

Original audience was SYNTHESYS+/DiSSCo development teams but scope has now widened.

**Target journal:** [PLOS Ten Simple Rules](https://collections.plos.or

[2021-05-12 07:23] qgroom commented on #2
If it is possible it would be much better to include additional language labels

[2021-05-12 09:15] martinteklia commented on #2
Thanks! We'll try to train an initial model from the 78 examples, but most likely we'll need more annotated data to improve the model.

Yes, indicating the language is useful, because it allows us to better analyze the errors. Maybe the model won't work well on French, because there are only a few examples of annotated data.

For the pinned insects it should be ok for the initial training. On Herb

[2021-05-12 12:54] Cubey0 commented on #4
Is the plan to take our 200 specimens from "A benchmark dataset of herbarium specimen images with label data: Summary" [https://zenodo.org/record/3697797#.YJvOi7VKiUl ](URL) and run them through label studio with the data in bold above-defined i.e.
![image](https://user-images.githubusercontent.com/9530904/117977954-3b9b5a00-b329-11eb-85d9-efaa207c4e5d.png)

Or has this already been done in ICEDIG

[2021-05-12 13:54] emhaston commented on #4
In terms of mapping the entities to MIDS and to DWC and ABCD, here are some thoughts.

This appears to need an iterative process potentially. For example:

Person name:
Step one: identification of person names on the label
Step two: identification of role of person relating to the specimens, eg, collector or identifier (these are often preceded by a controlled term and are often on separate and di

[2021-05-12 14:17] matdillen commented on #4
250 of the 1800 have been processed, but will need some validation to conform to Teklia's applications. There can be multiple entities for a single text line, text lines can be quite long and there is no support for rotated boxes. Those data can be found here: https://github.com/matdillen/sdr-datasets/tree/main/herbarium I've annotated them with the six bold entities I listed in my earlier post he

[2021-05-12 14:25] matdillen commented on #4
Yes, and I think it will be three steps (on top of segmenting text lines and transcribing them):

- Identify text as a person name
- Link a person name to a PID (ORCiD, Wikidata QID...)
- Link a person name to an action (as we've been [discussing](https://github.com/tdwg/attribution/projects) it in the [Agent Attribution IG](https://github.com/tdwg/attribution/blob/master/people/dwc/vocubulary/act

[2021-05-14 11:20] martinteklia commented on #2
We're working on setting up LabelStudio for annotating the named entities of pinned insects. There's a possibility to split the data into tabs, so each annotator could choose its own tab and there would be no conflicts (two people annotating the same paragraph).

How many annotators will there be? (How many tabs should we create?) @llivermore

[2021-05-16 19:58] llivermore commented on #2
@martinteklia for the first 100 or so it will be three of us but two of us are likely to do less. Are you proposing that each annotator gets assigned a fixed number of specimens or lines?
For example:

- Person A Specimen (page) numbers 1-33
- Person B Specimen (page) numbers 34-66
- Person C Specimen (page) numbers 67 - 100

We are likely to have more annotators in the larger ~1,000 specimen/page

[2021-05-19 22:27] #9 closed

[2021-05-20 10:21] martinteklia commented on #2
@llivermore Sorry for the delay.

In the end, instead of tabs there are 3 projects: one of which has 60% of the examples and two others have 20%. It's up to you to decide who will annotate which one.

Could you give me the emails of the annotators, so I could send the sign-up link?

[2021-05-20 13:24] matdillen commented on #7
@Cubey0 I've annotated the herbarium dataset (n=250) with six different entities, based on Darwin Core data. See `v3` in that same folder. This will not be perfect and some validation would be useful. I've been in touch with @martinteklia and I think he will import these data into ArkIndex. From there they could be migrated to Label Studio, as shown during last meeting, where they can be validated

[2021-05-20 14:40] Cubey0 commented on #7
From the last meeting, I think that @martinteklia said we may need a few more 250.

@emhaston and I have both had a trial run with Label Studio (I wanted to "give it a whirl" because I am planning on using it on another long-term project to digitise the handwritten living collection index cards) and we feel we could easily mark-up the RBGE component of the data set - or we can assist with the vali

[2021-05-26 14:02] martinteklia commented on #2
@llivermore the annotation presentation is in the attachment

[synthesys_annotation_guidelines.odp](https://github.com/DiSSCo/SDR/files/6547232/synthesys_annotation_guidelines.odp)

[2021-05-26 14:30] Cubey0 commented on #7
Here is the ABBY OCR from the 200 (RBGE) Edinburgh Specimens in the ISDIG "Gold Standard" dataset.

I'm not sure how it was going to be used, but it was mentioned during the zoom call on 26/5/2021

[OCR (Abby) of RBGE part of Gold Standard dataset.xlsx](https://github.com/DiSSCo/SDR/files/6547408/OCR.Abby.of.RBGE.part.of.Gold.Standard.dataset.xlsx)

[2021-06-25 12:35] PaulBrack commented on #19
https://docs.google.com/document/d/1-ZJ9IFtba5UPnKSm6N8oRS3gtDb2vZ6PbUMtc4QcH9g/edit?usp=sharing

[2021-06-25 12:37] PaulBrack opened #20 "Evaluate and choose a JSON parsing tool"

[2021-06-25 12:42] PaulBrack commented on #20
Need to choose a tool that can:

- create a fresh JSON-LD object
- read JSON-LD
- validate JSON-LD
- query JSON-LD (including querying on values)
- insert into existing JSON-LD object
- be implemented within Galaxy

[2021-06-25 12:43] PaulBrack commented on #19
Paper now in late stages of writing - up for discussion in Workflows@Manchester meeting on Monday

[2021-06-25 12:53] PaulBrack opened #21 "Investigate setting up a Galaxy server"
- What's involved?
- System resources?
- Maintenance?
- Who pays?

[2021-06-25 13:12] PaulBrack opened #22 "Create an end-to-end Galaxy workflow with no dummy parts"
- Retrieve image from an API
- Create a populated SDO
- Pre-processes an image
- Reads a bar code
- Does *some* OCR
- Updates SDO with information from image

[2021-06-25 13:20] llivermore commented on #11
From discussions with @PaulBrack

How do we ensure a workflow is reproducible?

Would need:

- Tool Version + arguments + entire dependency graph
- Installation of Galaxy instance

Dockerised tools will make it easier. Can track identifiers of the docker containers. These can be stored in some kind of registry.

In terms of workflows and their arguments. We could provide he workflow run itself OR

[2021-06-25 15:31] llivermore opened #23 "Create Galaxy tool to create an open digital specimen object"
The tool should be able to create an open digital specimen object based on the minimal data input for de novo digitisation. User input would be:

- Image URI
- Material type: [Pinned Insect, microscope slide, herbarium sheets]
- Image license

Strong recommendation:

- Higher taxon [rank TBC]

Part of #22

[2021-06-25 15:52] PaulBrack commented on #23
@llivermore have looked at the example JSON - should we include institution name and unique identifier here?

[2021-06-25 17:09] wouteraddink commented on #23
Please note that we seem to reach some consensus in MIDS (https://github.com/tdwg/mids/issues/5) that objectType should describe what kind of object is it , while materialType describes what is it composed of (organic material in these examples). So I would suggest to change Material type to Object type here.

[2021-07-05 13:14] llivermore opened #24 "Discuss how specimen and metadata submission will work"
Should discuss how people initially interact with the SDR - what are the submission requirements and what will they need to do?

[2021-07-05 20:06] llivermore commented on #24
Duplicates #23

[2021-07-05 20:06] #24 closed

[2021-07-05 20:21] llivermore commented on #23
@PaulBrack I have started to compile a [list of terms](https://docs.google.com/spreadsheets/d/1IRow2HnhBM3qFjBYHinbEqY6pAUkNpepemLaRI7ajtA/). All the terms labelled as submission are the ones marked "Submission".

[2021-07-06 09:15] llivermore commented on #18
List of fields for the SDR MVP is being collated in a [Google Sheet](https://docs.google.com/spreadsheets/d/1IRow2HnhBM3qFjBYHinbEqY6pAUkNpepemLaRI7ajtA)

[2021-07-06 13:11] llivermore opened #25 "Upload RBGE herbarium sheet dataset"
@Cubey0 we have created a separated repo for datasets: https://github.com/DiSSCo/sdr-datasets

Can you upload your herbarium sheet dataset there?

Contact @benscott if you need any guidance :)

[2021-07-06 13:46] benscott opened #26 "openDS schema"
openDS json schema should be included in the tools, and input/output validated against the schema.

For the MVP this schema will be static, but will change in future iterations of the SDR.  #

[2021-07-06 13:47] benscott opened #27 "Implement an openDS dynamic schema"
Building upon #26, OpenDS schema should evolve over time.

Allow mutiple versions/updating, with data versioning.

[2021-07-06 15:18] benscott commented on #11
Provenance approaches:

https://cloudevents.io/
http://demo.nsidr.org/specimens/f22fec45_7b47_11e4_8ef3_782bcb9cd5b5

[2021-07-06 15:22] llivermore commented on #11
We should include workflow/component attribution in the MVP.

This should done in the manner planned for open Digital Specimens using the prov agent entity activity model (triples) embedded in cloud events. See: https://github.com/DiSSCo/openDS/blob/master/data-model/data-model-intro.md

[2021-07-06 15:40] benscott commented on #11
Need to track changes made to the openDS object by each tool.

Need to confirm: Is the history object sufficient? If so, at the end of the workflow pull in and convert to prov - https://github.com/albangaignard/galaxy-PROV

If not, for each tool ad in a diff in the post completion hook, using this as a data model: https://github.com/DiSSCo/openDS/blob/master/data-model/data-model-intro.md

[2021-07-13 16:03] llivermore opened #28 "Update DiSSCo service management plan and services portfolio template"

[2021-07-15 13:58] llivermore commented on #2
@martinteklia we have finished the the named entity tagging. I will have a few questions and one of the digitisers has noticed some errors in the transcribed text.

[2021-07-15 13:59] llivermore commented on #2
From Pete Wing on Annotator 2 (I will need to make some decisions on some of these):

- Task #3208 - unclear what 'G.' is, could also be 'b.', possibly for bred. I wouldn't say it relates to the location. Possibly 'other letters' could be a category?
- Task #3215 - transcription error - should read 'Roanhead' not 'Roauhead'
- Task #3216 - presence of Linnaeus after the taxonomy warrants an 'author

[2021-07-15 14:00] llivermore commented on #2
A question both Pete and I had is, "can/should a single string/set of words have more than one category applied to it? E.g. a determination may encompass the taxanomic name, authority, determiner name and date of determination, so the main category for this data is determination but the constituent parts have their own, separate categories."

[2021-07-15 14:50] llivermore commented on #21
I have requested an on-premises virtual machine to host our [Proof of Concept](https://github.com/DiSSCo/SDR/milestone/2).

I will confirm the exact specification soon but:

- 500GB SSD
- 16-32GB RAM
- =>i5 or equivalent
- OS: Ubuntu 20.x

Public url: sdr.nhm.ac.uk

[2021-07-15 14:52] llivermore commented on #21
@PaulBrack for the maintenance of Galaxy and the Registry of tools (Tool Shed in Galaxy vernacular) this will fall to Manchester during the PoC/UAT stages (e.g. until the end of the project).

We can review system resources following the PoC to decide if we need something higher spec.

[2021-07-15 16:35] martinteklia commented on #2
@llivermore The transcription errors will have to be fixed on arkindex - it's not possible to do it in labelstudio.
The errors must be fixed at `text_line` level. From the lines we will generate new paragraph level transcriptions.
Those will be imported again to labelstudio for NER annotation. Previous task with incorrect transcription must be deleted first.
A link to the page on arkindex will be

[2021-07-16 12:27] PaulBrack commented on #20
There's been a change of approach from when we wrote this original story - we're expecting a lot more of the data type now and not explicitly including the JQ JSON parser in workflows like the dummy POC.

To discuss - what functionality is inherent in the OpenDS data type?

1. Create a fresh JSON-LD object
Don't expect the data type to be able to do this

2. Read JSON-LD
The data type should be ab

[2021-07-22 12:13] llivermore opened #29 "Presentation: Contemporary and Established Provenance Issues in Natural History Collections"
Lightening talk for ProvenanceWeek 2021, T7 Workshop.

[2021-07-22 14:14] llivermore commented on #29
Livermore, Laurence; Scott, Ben; Dillen, Mathias (2021): Contemporary and Established Provenance Issues in Natural History Collections. figshare. Presentation. https://doi.org/10.6084/m9.figshare.15035370.v1

[2021-07-23 10:01] #29 closed

[2021-07-28 11:07] llivermore commented on #5
In ArkIndex we are using:

- Barcode
- Color bar
- Label
- Scale bar
- Specimen
- Text line

@matdillen I think you needed these for the Image JSON object? I am not sure if we are using any additional objet classes in the herbarium sheet dataset.

We may want to add classes as we cover more specimen types.

[2021-07-29 15:11] PaulBrack commented on #19
First draft complete - needs referencing and general preening but I don't think we're far off having something you could submit to a journal

[2021-07-29 15:13] PaulBrack commented on #21
Galaxy server installed on sdr-poc-1 and NGINX proxy set up - unavailable on sdr.nhm.ac.uk so far so may require some domain set up or firewall admin outside my control

[2021-07-29 15:14] PaulBrack commented on #23
Tool created in Ruby - needs installing and testing on test server. In the medium term this needs rewriting in Python.

[2021-07-29 15:16] PaulBrack commented on #11
Was hoping this project could be resurrected but havne't heard anything from Ignacio Eguinoa. Have asked Stian if he knows anything about it. https://github.com/ieguinoa/galaxy-provenance-capture

Currently looking through Galaxy documentation to see how this is done.

[2021-07-29 15:17] PaulBrack commented on #6
Update from Ida recently - this is done and needs testing

[2021-08-12 10:18] llivermore commented on #2
- Task #3208 - unclear what 'G.' is, could also be 'b.', possibly for bred. I wouldn't say it relates to the location. Possibly 'other letters' could be a category? [Apply custom logic?]
- Task #3215 - transcription error - should read 'Roanhead' not 'Roauhead' [Corrected in AI]
- Task #3216 - presence of Linnaeus after the taxonomy warrants an 'authority' category [**Needs discussion**]
- Task #3

[2021-08-13 13:28] martinteklia commented on #2
https://arkindex.teklia.com/element/6ac2db87-6569-4290-8fd6-b2ee2fc6be7a
https://arkindex.teklia.com/element/03fe9029-3c3d-43bd-9ce8-b36e2cd94975
https://arkindex.teklia.com/element/00964e92-1f98-4ea7-91fd-40cdeec91b44
https://arkindex.teklia.com/element/162b73b0-ae36-45cf-94b9-1893f8768e4d
https://arkindex.teklia.com/element/8dfcfc38-33bd-41e6-89f7-92e0e5aa9926

The 5 pages have been reloaded fro

[2021-08-16 09:33] llivermore commented on #2
@martinteklia I have finished labelling all known entities - I think we are ready to train and evaluate! :)

[2021-09-01 10:45] infinite-dao commented on #27
I’m involved in [4.6 People Linkage](https://docs.google.com/document/d/1sNclNbnMJrIVWeV1-9Rikd3SUX00T2x3L5-Lwqcyx6A/edit#heading=h.afowc2vg1yb8) for collectors etc.. So far I managed to write a python wrapper to add a collector by a command like so:

[code]

As input/output I expect:

- input: a name tagged or specified or identified as collector
- output: add a list to JSON <abbr title="open Dig

[2021-09-01 13:59] emhaston commented on #7
Our understanding is now that the following steps will take place:
The complete ICEDIG dataset will be uploaded to Arkindex.
The OCR output data that @matdillen has from GoogleVision will also be uploaded.
Access will be given in the first instance to RBGE, Meise and possibly Kew.
We will check the line transcriptions to reduce having to reimport data into LabelStudio multiple times due to transcr

[2021-09-01 13:59] Cubey0 commented on #25
Hi @benscott
After the meeting today it is our understanding is that this is no longer happening - the [ICEDIG gold standard dataset](https://doi.org/10.5281/zenodo.3346782) i.e.
[https://zenodo.org/record/3697797#.YS-FSY5KiUk ](https://zenodo.org/record/3697797#.YS-FSY5KiUk )
(containing herbarium specimens a number of Institutions - inc, RBGE) is the dataset that is going to be used and we do no

[2021-09-01 14:05] Cubey0 commented on #7
I know @matdillen has GoogleViosion OCR for this dataset but for the RBGE component in the ICEDIG Gold standard dataset, we can also provide OCR via both ABBY and Tesseract 10 as we used it to do an in-house OCR software comparison.

[2021-09-01 15:20] matdillen commented on #7
I've made the raw Google Vison results available, see pull request here DiSSCo/sdr-datasets/pull/3

I had quite a few errors back when I did the processing, so there are only 1792 responses, not 1800.

[2021-09-02 15:56] martinteklia commented on #7
Yes. After we have imported the images and the OCR transcriptions we'll have to see how good the quality of the OCR output is. It might be easier/quicker to re-transcribe than to correct.

[2021-09-09 08:13] Mesibov commented on #25
The gold standard herbarium dataset is remarkably clean and free of the structural and other errors typical of DwC datasets: [https://discourse.gbif.org/t/100-gbif-datasets-improved/3042](https://discourse.gbif.org/t/100-gbif-datasets-improved/3042)
How do you see machine learning working with messy datasets? One of these?
(1) ML will work with datasets only after HitL cleaning
(2) ML will work wi

[2021-09-13 15:57] llivermore commented on #7
@martinteklia have you been able to import the images? Do you need anything more from us to get the images into Arkindex?

[2021-09-14 08:13] martinteklia commented on #7
@llivermore yes we have imported the images. We are working on a document to describe how they should be annotated.

[2021-09-22 15:55] martinteklia commented on #7
@llivermore how many annotators will there be? We will need to create accounts for them so they could annotate.

[2021-09-22 16:27] Cubey0 commented on #7
@emhaston
@Cubey0
From RBGE please.

(I guess others from other institutions ?)

[2021-09-23 06:18] qgroom commented on #7
@matdillen are you our annotator or is this something we could ask for a technician to do?

[2021-09-23 06:28] droepert commented on #7
@infinite-dao
@droepert
for BGBM

[2021-09-23 08:54] matdillen commented on #7
Let's leave mine for now. Unless you want to have a go as well?

[2021-09-24 10:00] martinteklia commented on #7
We created accounts for the people mentioned here and sent the guide by email.

If you didn't receive the mail, let me know.

[2021-09-27 13:37] benscott opened #31 "Image license - select list"
Currently the license field in the _Create specimen data object_ tool is free text - but @llivermore do we have a limited type of licenses the SDR will support (CC0, CCBY, CCNC for e.g.?)  In which case we should define these, and then change the field to a select list.

[2021-09-27 13:44] benscott opened #32 "Object type - list"
List of object types should be discrete list rather than free text - for the MVP, these should be:

- pinned insects
- slides
- herbarium sheets

Is there a dictionary of object types defined by the openDS we should use?

[2021-09-27 14:03] benscott opened #33 "Validate open Digital Specimen objects"
Create specimen data object tool needs Galaxy tool tests, to validate generated json.

[2021-09-27 15:39] benscott opened #34 "Image file download"
Tools like Teklia's require a local file to read, so we need a tool that takes an image URI, downloads it to the server and updates the JSON with the local file path.

At this stage, we don't need to worry about #16 as throughput will be low - but this tool can be updated once the image server is needed/available.

[2021-09-29 08:39] benscott opened #35 "Docker installation"
Docker needs to be installed on sdr.nhm.ac.uk

[2021-09-29 11:28] matdillen commented on #7
@martinteklia Is it only the first ten pages (200 images) for now? Later images seem to give errors from time to time, e.g.
![iiiif-error-arkindex](https://user-images.githubusercontent.com/37537540/135259725-cbff8698-fda1-4830-adff-4a441c5cb2ee.jpg)

We have some technicians who can work on this, but they would prefer to work mainly on Meise (BR) specimens.

[2021-09-29 12:19] martinteklia commented on #7
Yes the idea was to have a subset with high quality human annotations for training and evaluation.
By only annotating text line polygons on a subset of the pages, we can move quicker to next type of annotations which require expert knowledge (transcriptions, named entities). If we stumble upon some issues in this process, we can improve and iterate.

Also, if the trained model works well enough, t

[2021-09-29 13:27] benscott commented on #31
Following on from dicussion as today's meeting: Should we use the same licenses as GBIF?

According to this blog post https://data-blog.gbif.org/post/gbif-multimedia/ multimedia licenses are free text - CC0, CCBY, CCBYNC are for the occurrence data only.

But as per FAQs https://www.gbif.org/faq?question=can-i-use-the-images-i-find-via-gbif-org - "data providers includes the URLs of multimedia ass

[2021-09-29 13:35] wouteraddink commented on #31
I would avoid CCBYNC, as it is against open data principles so we cannot use that licence under DiSSCo. I think it was a mistake in GBIF to allow it, actually.

[2021-09-30 16:21] martinteklia commented on #7
Now the herbarium sheets are grouped by institutions.

There are first 3 groups of 20 pages from each institution in the progress table. It's because maybe we won't get any annotators from some institutions and some institution has more time/annotators. If each institution annotates one group we'll have the 200 pages.

[2021-10-08 09:36] RBGE-Herbarium opened #36 "Error loading images from IIIF server"
Unable to see specimen image in ArkIndex

Get this error message:
An error occurred while loading this image from the IIIF server at https://europe.iiif.teklia.com/iiif/2.

Logged in as EHaston@rbge.org.uk
Using Chrome browser

![image](https://user-images.githubusercontent.com/63307210/136533635-e3155913-afcd-49fa-9328-869b5b0b2999.png)

Opened the following file:
https://arkindex.teklia.com/elem

[2021-10-08 09:42] ghost opened #37 "Unable to log in to notes.teklia.com"
In order to annotate the table of specimen batches with our initials and to indicate progress, I believe we need to log in. How do we get a user account?

https://notes.teklia.com/JWiT_LMrRMqbklh6WRKQlA?edit

Apologies if we already have one and I've forgotten :)

![image](https://user-images.githubusercontent.com/63307210/136534719-2f688614-28e3-454e-a42b-afbf24e09b3e.png)

[2021-10-08 09:51] #37 closed, assigned to nobody

[2021-10-08 09:58] RBGE-Herbarium commented on #36
When I click on View source image I get the following message

![image](https://user-images.githubusercontent.com/63307210/136537010-b2f83312-4545-42f3-8969-a26348fbca74.png)

Happily, I can click Proceed and can now see all the images.

[2021-10-08 14:32] PaulBrack commented on #11
I have engagement with the Galaxy team on this - need to arrange a meeting with @benscott, @llivermore, Ignacio and Frederik to determine timelines on this

[2021-10-08 14:34] PaulBrack commented on #20
A lot of these requirements have been debunked - not using JSON-LD in the SDO, so closing this as existing json libraries appear to do the part

[2021-10-08 14:56] PaulBrack commented on #34
This one is two parts but to me asks a question: do we want to use conventional local file storage or do this a more Galaxy way? A Galaxy tool that just does a wget (or similar) and adds a location to the JSON should take 1-2 days max, but I think it's clunky. I'd question the merit of having the local path in the specimen data object - it's ultimately a temporary file. I'd prefer to pass the imag

[2021-10-08 15:17] PaulBrack opened #38 "Create a Galaxy tool to read barcodes"

[2021-10-08 15:18] PaulBrack opened #39 "Create a Galaxy tool OCRing specimen labels"
This will be a tool created by Teklia.

[2021-10-08 15:22] PaulBrack opened #40 "Set up local Galaxy development environment"
Needs setting up on both desktop and laptop

[2021-10-08 15:24] PaulBrack opened #41 "Editing Galaxy tools list has no effect on sdr.nhm.ac.uk"
Suspect this is a validation issue of the config file

[2021-10-08 15:33] PaulBrack opened #42 "Set up a deployment pipeline to sdr.nhm.ac.uk"
Currently deploying a tool to sdr.nhm.ac.uk is a sloppy process - FTP to orca, then copy files to sdr.nhm.ac.uk. Ideally, I'd like an FTP server running on sdr.nhm.ac.uk proxied through Orca - Rob doesn't seem keen so this might make local work more feasible in the short term.

[2021-10-08 15:38] PaulBrack commented on #8
Closing as superceded by #22

[2021-10-08 15:40] PaulBrack commented on #18
Removed POC milestone as this will require further work past the milestone

[2021-10-08 15:40] PaulBrack commented on #28
Removed POC milestone as this will require further work past the milestone

[2021-10-11 08:44] martinteklia commented on #36
It should be fixed now.

[2021-10-13 10:28] #40 closed, assigned to PaulBrack

[2021-10-13 10:38] llivermore opened #43 "Rewrite Galaxy tools in Python"
See #23

[2021-10-15 22:18] PaulBrack commented on #32
Added in commit ebd64e3

[2021-10-20 09:13] benscott commented on #42
If you update config/galaxy.yml to point to the config directory.

[code]

You can then set the path to the tools themselves in ```sdr_tool_conf.xml``` - see https://github.com/DiSSCo/SDR/blob/ben/docker/galaxy-workflow/config/sdr_tool_conf.xml.

Locally, I have my galaxy.yml config file symlinked to the galaxy config directory, so it's also under version control.

[2021-10-20 10:31] PaulBrack opened #44 "Create a Galaxy tool for image segmentation"
Segmentation tool provided by [Teklia](https://teklia.com/) as a self-contained Dockerised image which does not make any external service calls.

[2021-10-21 11:11] martinteklia commented on #7
If there's a risk of overlap, it's ok if a part of the top or bottom loops are not inside the polygon.

Later when fixing/annotating the transcriptions the dots will be ignored, so the HTR model should learn to ignore them as well.

If the obscured part is small, then it should be enclosed. If a big part is hidden, then it's easier to split them up.

We can ignore the curved text. Just the regular

[2021-10-22 14:25] #42 closed, assigned to PaulBrack

[2021-10-26 18:01] benscott opened #47 "Generate issues from SDR PoC release"
Thoughts after SDR release - for discussion.

Should image download be a seperate tool - relies on users to add it and subsequent steps won't function without a downloaded image.

json-schema is included in config directory (and set as environment variable). Another version of json-schema is in validate-opends.  code.py has code to validate schema. Need to concolidate these - and just use one prog

[2021-10-27 10:58] PaulBrack opened #48 "Teklia tool does not run when chained together with other tools"
When running the workflow "SDR milestone 1 test" (shared), the Teklia tool produces error 'cannot find 'opends_properties'.

However, when run standalone, it does not produce this error

[2021-10-27 10:58] PaulBrack opened #49 "Create visualiser for ROIs"
Needs creating as a built in Galaxy visualisation

[2021-10-27 14:01] PaulBrack opened #50 "Trim inputs on create opends tool"

[2021-10-28 09:45] #44 closed, assigned to benscott, PaulBrack

[2021-10-29 13:02] llivermore opened #51 "Create open Digital Specimen to DarwinCore exporter"
Need to discuss and see whether any instiuttions/project partners would find this useful compared to a CSV export tool (#86 ). I am also assuming that at some point an openDS to DwC tool would be made by DiSSCo. Given the openDS schema has not been finalised then this is probably a low priority.

[2021-10-29 13:33] llivermore opened #52 "Create a Galaxy tool to manually submit specimens in bulk"
Should support:

- IIIF manifests
- Simple metadata?
- DarwinCore?

[2021-10-29 13:45] llivermore opened #53 "Create a Galaxy tool using Mothra"
https://github.com/machine-shop/mothra

[2021-11-02 09:58] llivermore commented on #7
@martinteklia can you add Jere Kahanpää - jere.kahanpaa@helsinki.fi? Jere will work on the Luomus sheets. Thanks :)

[2021-11-02 10:28] martinteklia commented on #7
It's done.

There should already be 223 pages with `text_line` annotations, but I don't know if they're all complete or not.

So I think people who have started annotating can finish their set of 20 pages or at least finish partially annotated pages (if there are any). But no need to have more annotators at this point, unless they are from an institution that hasn't annotated anything yet.

[2021-11-02 10:58] llivermore commented on #7
@martinteklia I asked @kris-loh to do some `text_line` annotations on the institutions that were unable to contribute. Are you able to easily get counts of page annotations by institution? If there are a few missing ones then NHM will do some additional annotations.

[2021-11-02 11:23] martinteklia commented on #7
| institution   |   annotated_pages_count |
|:--------------|------------------------:|
| BGBM          |                       1 |
| Kew           |                       1 |
| Luomus        |                       0 |
| MNHN          |                       0 |
| MeiseBG       |                      37 |
| NHM London    |                      20 |
| Naturalis     |                       1 |
| RB

[2021-11-02 12:33] llivermore commented on #7
@martinteklia if you could still add Jere Kahanpää - jere.kahanpaa@helsinki.fi then we can get some of the Luomus sheets annotated. @kris-loh and I will do some of the other institutes that are lacking annotations.

[2021-11-02 12:43] llivermore commented on #7
@matdillen there was a sheet with missing annotations for text. I added most but was unsure about `Text line 14`:https://arkindex.teklia.com/element/320c50a1-2ac0-4dfc-8c17-46b981ad2afd?highlight=1e393775-3ee5-45a3-beab-2708a41e319b

[2021-11-02 12:45] martinteklia commented on #7
I already created the account before. The password can be changed here: https://arkindex.teklia.com/user/password_reset

The emails seem to get stuck in spam filters for some reason though, so they should be checked as well.

[2021-11-02 13:36] martinteklia commented on #7
@llivermore could you send me the email marked as spam with all the headers, so we could try to fix the problem with the emails ending up in spam? Also if the spam filter gives the reason why it was marked as spam, could you share that as well?

Thanks!

[2021-11-02 23:11] PaulBrack opened #54 "Add environment variable creation to deploy script"

[2021-11-02 23:11] PaulBrack opened #55 "Move site out from paulb1 home"
Now in /var/www/

[2021-11-02 23:12] PaulBrack opened #56 "Make ansible deployment script"

[2021-11-02 23:14] PaulBrack commented on #11
Moved onto current milestone as am meeting to discuss tomorrow

[2021-11-02 23:15] PaulBrack commented on #43
- create opends
- download image
- validate opends

[2021-11-02 23:16] PaulBrack opened #57 "Consolidate JSON schemas in a single directory"
from 47:

json-schema is included in config directory (and set as environment variable). Another version of json-schema is in validate-opends. code.py has code to validate schema. Need to concolidate these

[2021-11-02 23:17] PaulBrack opened #58 "Combine image download and create opends"

[2021-11-02 23:18] PaulBrack commented on #43
dependencies to be recorded and included in the installation/readme, and in the deployment script

[2021-11-02 23:19] PaulBrack opened #59 "Document challenges found using incremental FDOs in workflows"
From #47 :

Another point for discussion: at the moment, every tool has openDS as input and code.py maps these to opends_properties. The drawback of this, is that every input variable needs to be munged into the openDS structure.
Take for example, GEORG: this has locality text string input. For this to be run as a standalone tool on a spreadsheet of data, the spreadsheet would need to contain (or

[2021-11-02 23:20] PaulBrack commented on #47
Closing - have created issues 54 to 59

[2021-11-02 23:20] #47 closed

[2021-11-02 23:22] PaulBrack opened #60 "Add users for testing on public SDR test server"
From email:

Paul – please could you set up accounts for Wouter, Jonas, Claus & Sharif on the SDR prototype?

[2021-11-02 23:26] PaulBrack commented on #50
resolved in commit bbd46750ac94695c72070a9ff387a2a7d93ffe77

[2021-11-02 23:26] #50 closed

[2021-11-02 23:26] PaulBrack commented on #49
Completed in commit 8c86a3ed3e98b427d37e7cceb92bc1e3dae090b7

[2021-11-02 23:26] #49 closed

[2021-11-02 23:35] PaulBrack opened #61 "Add icon for ROI visualisation"

[2021-11-02 23:38] #36 closed

[2021-11-02 23:39] PaulBrack commented on #36
Closing as comment indicates fixed

[2021-11-03 11:32] llivermore commented on #2
Note for myself: the trained model doesn't seem to work very well with iCollections images. They have noisy backgrounds from pin holes but otherwise the labels are similar.

From Galaxy test:
![image](https://user-images.githubusercontent.com/7243779/140052866-35fab602-9528-4c6c-9d91-161cd71a3714.png)

Source specimen:  [BMNH(E)1851836](https://data.nhm.ac.uk/object/0e926142-270e-41a2-83bd-9f57012

[2021-11-03 11:59] llivermore commented on #38
We will use [Bardecode's Linux SDK](https://www.bardecode.com/en1/app/linux/) Unlimited Distribution License - this is the tool we have been using in our mass digitisation workflows at NHM due to its high accuracy, support for 1D and 2D barcodes, and ability to read multiple barcodes in one image.

[2021-11-03 13:26] PaulBrack commented on #11
Meeting today with Ignacio Eguinoa and Paul @ VIB-UGent

Need to schedule meeting with:

Paul Brack
Frederik Coppens (if possible)
Bjorn Gruning
Ignacio Eguinoa
David Lopez
Laurence Livermore
Stian Soiland-Reyes
Paul @ Ghent

Need to document test cases before the meeting - perhaps write a short presentation

Ignacio thinks there is enough bandwidth to get this working within a few months

[2021-11-03 13:28] PaulBrack commented on #11
Ignacio has suggested this as a biohackathon topic

[2021-11-03 13:59] PaulBrack opened #62 "Add workflows to workflowhub"
Also log issues with registration and creation

[2021-11-03 15:01] llivermore commented on #25
@Mesibov our main focus is your second described approach:

There will be some instances where we do not refer to any subsequent HitL process and publish the data, but make it explicit that some of the results are from an ML process and do not meet a threshold for trustworthiness, or may require more scrutiny before use. An example: if we are OCRing labels, even messy OCR data is useful for search

[2021-11-03 15:01] #25 closed

[2021-11-04 11:16] PaulBrack commented on #59
Decided to leave this for now and reconsider in next milestone

[2021-11-04 11:18] Cubey0 commented on #59
OK - works for me. Thanks for your responce.

[2021-11-04 12:44] PaulBrack opened #63 "Refactor welcome page"
"Mixed Content: The page at 'https://sdr.nhm.ac.uk/' was loaded over HTTPS, but requested an insecure frame 'http://sdr.nhm.ac.uk/static/welcome.html'. This request has been blocked; the content must be served over HTTPS"

[2021-11-04 16:49] PaulBrack commented on #52
![image](https://user-images.githubusercontent.com/6860681/140382803-18e74246-a02a-4707-a7de-65fc6bb8a65e.png)

CSV upload working on welcome page

Next step is to do a per-row submission to Galaxy API

[2021-11-04 17:21] PaulBrack commented on #63
Loading with full URL including protocol - this is technical debt as this breaks outside of test server

[2021-11-04 17:22] PaulBrack commented on #52
Relevant Galaxy SPI docs:
https://docs.galaxyproject.org/en/latest/lib/galaxy.webapps.galaxy.api.html#module-galaxy.webapps.galaxy.api.workflows

[2021-11-05 13:01] llivermore commented on #7
@martinteklia I will try and get 10 examples for each institute by the end of today. Are you still able to train on Monday and share results on the Wednesday team meeting?

[2021-11-05 13:16] llivermore commented on #7
@kris-loh can you add text lines to the following institutes (brackets indicate number of sheets with text lines) so we have a minimum of 10 for each, 20 if you have time?

- Luomus (2)
- MNHN (3)
- Naturalis (7)

I have annotated 10 sheets for Tartu and 20 sheets for Kew.

[2021-11-05 13:41] martinteklia commented on #7
BGBM also has less than 10 sheets (9).

[2021-11-05 13:44] droepert commented on #7
I will add textlines for BGBM sheets

Von: martinteklia ***@***.***>
Gesendet: Freitag, 5. November 2021 14:42
An: DiSSCo/SDR ***@***.***>
Cc: Röpert, Dominik ***@***.***>; Mention ***@***.***>
Betreff: Re: [DiSSCo/SDR] Curate herbarium sheet dataset (#7)

@kris-loh<https://github.com/kris-loh> can you add text lines to the following institutes (brackets indicate number of sheets with text lines)

[2021-11-05 14:13] llivermore commented on #7
@martinteklia can we discuss how best to align the google vision output to train a transcription model on the coming Wednesday meeting? I presume this will be an additional manual step where we check and paste the transcriptions into the text lines? It would be good to work on this between the next two meetings (10th - 24th November) but it may take longer.

[2021-11-05 14:33] martinteklia commented on #7
We have already made a script to align the google vision output automatically to the text lines. It should work. However, the transcriptions from google vision are not always correct, so they would need to be validated/corrected manually.

[2021-11-05 14:34] Cubey0 commented on #7
Why are we using Google vision for training? would not hand key transcription be better? or  Is it to show OCR usage?

This dataset has both Google vision https://github.com/DiSSCo/sdr-datasets/pull/3
and hand keyed transcription data https://zenodo.org/record/3697797#.YYVAYGDP2kw

[2021-11-05 14:38] kris-loh commented on #7
@martinteklia
Hi there!
I annotated some specimens and transcribed the information. I have two questions regarding the transcriptions.
1) on herbarium sheets it happens occasionally, that text is crossed out. How should we mark that the transcribed text was crossed out, does it needs to be transcribed? should we just ignored a crossed line?

2) with difficult handwritings, sometimes I can't confid

[2021-11-05 15:04] martinteklia commented on #7
There is no need to transcribe them at the moment - it will be done later (semi-automatically). So transcribing can be discussed later.

Crossed out parts should not be transcribed. If the entirety of the line is crossed out, then yes it should be left empty (without a transcription).

If you're 90% sure then you should transcribe your best guess. There will be human errors anyway in the transcrip

[2021-11-05 15:09] martinteklia commented on #7
To train the HTR model we need text line images with the corresponding transcriptions. I don't see the polygons in the keyed transcription data, so how to know where the transcription is situated on the sheet image?

The keyed transcription data could be used for evaluation, to see if they exist in the transcriptions made by the model.

[2021-11-05 15:18] Cubey0 commented on #7
So there will be a "matching-up" of google vision polygons (with OCR) to the ones we are manually putting onto the specimens with Arkindex?

[2021-11-05 16:43] martinteklia commented on #7
Yes. The line polygons from google vision weren't that great. Now we have good polygons from humans that we can use to train a line segmentation model.

Also, we can use the word polygons from google vision to try to match them to the line polygons made by humans and thereby get transcriptions with good polygons. Afterwards, the transcriptions will be validated/corrected and we'll have good transc

[2021-11-05 19:51] kris-loh commented on #7
@martinteklia
Is there something wrong with the website? I was doing an image when I started getting the error "Bad gateway" and now it shows me the following message:
"Server unreachable
A connection error occurred while fetching authentication data from the Arkindex server.
Please try again later."

[2021-11-08 07:54] llivermore commented on #7
@martinteklia if we have sufficient text line annotation then I suggest we discuss and create a separate issue for the next steps with some screenshots and instructions (either linked or in the issue itself). I will leave this issue open until I receive confirmation from you.

[2021-11-08 13:18] martinteklia commented on #7
Yes there was some issue with the server, it should be ok now.

[2021-11-08 13:19] martinteklia commented on #7
Yes, fine by me.

Final count:

| institution   |   annotated_pages_count |
|:--------------|------------------------:|
| BGBM          |                      12 |
| Kew           |                      20 |
| Luomus        |                      20 |
| MNHN          |                      20 |
| MeiseBG       |                      98 |
| NHM London    |                      20 |
| Naturalis

[2021-11-09 15:14] llivermore commented on #39
@PaulBrack
Teklia published a second SDR worker to transcribe text labels detected by their DLA worker (see #44).

Update from @La0 :

NB: You will need permission to access Teklia's GitLab.

[2021-11-09 15:20] llivermore commented on #61
@PaulBrack maybe something similar to this? https://materialdesignicons.com/icon/page-layout-sidebar-left

[2021-11-09 19:50] PaulBrack commented on #61
Or like one of these maybe?
https://www.iconfinder.com/iconsets/object-detection-technology

[2021-11-09 20:05] PaulBrack commented on #52
![image](https://user-images.githubusercontent.com/6860681/140996587-3ad0c941-080d-426f-bfe8-11ca36367c3c.png)

Feature now working - demo tomorrow

[2021-11-10 11:14] llivermore opened #64 "Evaluate IIIF as a bulk specimen input method"
Some questions for #52

- Can we get all the properties required for our openDS from a IIIF manifest?
- Are the manifests uniform across the DiSSCo/SYNTHESYS partners? (need a list of endpoints and example herbarium specimens)

[2021-11-10 11:41] PaulBrack opened #65 "Document issues and risks for Laurence"

[2021-11-10 11:45] PaulBrack opened #66 "Create a tool to extract the outputs of a bulk specimen run"

[2021-11-10 14:44] PaulBrack opened #67 "Set up a staging server"
Clone specs of the existing VM.

Install Galaxy [using Ansible](https://training.galaxyproject.org/training-material/topics/admin/tutorials/ansible-galaxy/tutorial.html)?

[2021-11-10 14:47] llivermore commented on #64
See: https://cetafidentifiers.biowikifarm.net/wiki/Standards_compliance_dashboard

[2021-11-12 12:32] llivermore commented on #27
See https://nsidr.org/#objects/20.5000.1025/ODStypeV0.2

[2021-11-12 16:28] martinteklia commented on #7
Updated final (?) count:

| institution   |   annotated_pages_count |
|:--------------|------------------------:|
| BGBM          |                      12 |
| Kew           |                      20 |
| Luomus        |                      20 |
| MNHN          |                      20 |
| MeiseBG       |                     **171** |
| NHM London    |                      20 |
| Naturalis     |

[2021-11-17 10:09] matdillen commented on #7
I think the MeiseBG specimens should all be complete now as well.

[2021-11-17 10:28] martinteklia commented on #7
Actually, there are 2 MeiseBG pages with no annotations:
* https://arkindex.teklia.com/element/d4b7c902-efd7-4b41-aefb-b7828344c569
* https://arkindex.teklia.com/element/ce83a0c7-9baa-41a4-8077-69d985b02eca

[2021-11-17 11:01] matdillen commented on #7
Thanks for pointing them out, I just annotated them for completion's sake.

[2021-11-17 16:27] martinteklia opened #68 "Validate/correct text line transcriptions in herbarium sheet dataset"
The google vision output has been copied to the text lines you had annotated. Sometimes the matching of the polygons failed, or there were no transcriptions from google vision, but most of the text lines should have a transcription.

Now the goal is to validate (and correct if necessary) the text line transcriptions.

### Here are some transcription guidelines:

1. Transcribe verbatim - don't expa

[2021-11-17 16:27] martinteklia commented on #68
@llivermore could you take a look if the guide is clear enough?

[2021-11-24 12:00] jrdh commented on #64
In theory, yes, the IIIF manifests can contain arbitrary data and this data could therefore provide all the additional information about the object that appears in the image. As an example, https://herbarium.bgbm.org/data/iiif/B100277113/manifest.json contains various DC and DwC terms as well as the CETAF ID of the specimen in the image.

Given there is a defined way of adding this metadata to a I

[2021-11-24 13:55] llivermore commented on #68
@martinteklia it looks clear to me - I/we can update the project team in the meeting today and work on the lines during the next sprint.

[2021-11-24 13:56] llivermore commented on #7
This part of the herbarium dataset work is now complete. Next stage is in #68

[2021-11-24 13:56] #7 closed

[2021-11-24 14:30] emhaston commented on #64
"For example, this RBGE manifest contains no specimen metadata at all https://iiif.rbge.org.uk/file/ZXhhbXBsZXMvc2luZ2xlX2ZpbGVfZXhhbXBsZS5qcGc/manifest"

This one appears to be a painting.

[2021-11-24 14:33] llivermore commented on #64
Look at required fields to run the milestone 1 test workflow and whether they are present:

- Catalog number
- Image license
- Image URI
- Object tyoe
- Rights holder
- Institution URL
- Higher classification
- Person name
- Person identifier

@PaulBrack needs a few examples where this metadata is present.

[2021-11-24 14:34] Cubey0 commented on #64
CETAF Specimen URI Tester

http://herbal.rbge.info/index.php?uri=https://data.rbge.org.uk/herb/E00421509

[2021-11-24 14:37] infinite-dao commented on #64
Here one example manifest from BGBM
http://tbi.jacq.org/data/iiif/TBI1056966/manifest.json

[2021-11-24 14:40] matdillen commented on #64
Meise example: https://iiif-manifest.oxalis.br.fgov.be/specimen/BR0000005505173/manifest

[2021-11-24 14:41] Cubey0 commented on #64
RBGE
https://iiif.rbge.org.uk/herb/iiif/E00008781/manifest

[2021-11-24 14:57] droepert commented on #64
Roger Hyam is just finishing the final report for Synthesis+ 4.3 (iiif best practices).
Maybe we could ask Roger for a preliminary version.
There are lots of examples of different institutions listed there

Von: Josh Humphries ***@***.***>
Gesendet: Mittwoch, 24. November 2021 13:01
An: DiSSCo/SDR ***@***.***>
Cc: Subscribed ***@***.***>
Betreff: Re: [DiSSCo/SDR] Evaluate IIIF as a bulk specimen i

[2021-11-24 17:06] martinteklia commented on #68
A classification `from_gold_standard_250 ` has been added to the sheets, that come from the gold standard. Don't correct these yet, because I will try to match the transcriptions from the gold standard to the new polygons and hopefully there will be less corrections needed.

[2021-11-25 09:47] Cubey0 commented on #64
IMPLEMENTATION OF THE IIIF FOR NATURAL HISTORY COLLECTIONS
ROGER HYAM (RBGE), QUENTIN GROOM (MEISE) & PROJECT PARTICIPANTS
[SYNTHESYS+ Deliverable 43 - IIIF Implementation Manual - Final.pdf](https://github.com/DiSSCo/SDR/files/7601867/SYNTHESYS%2B.Deliverable.43.-.IIIF.Implementation.Manual.-.Final.pdf)

[2021-11-29 12:13] PaulBrack commented on #48
Closed as workaround in place (remove code element from xml and implement jq to parse out values). Still some work to do to wrap tools more coherently - moved this work to https://github.com/DiSSCo/SDR/issues/59

[2021-11-29 12:13] #48 closed

[2021-11-29 12:14] PaulBrack commented on #66
Implemented - no persistence mechanism yet

[2021-11-29 12:14] #66 closed

[2021-11-29 12:15] PaulBrack commented on #62
Added - see https://workflowhub.eu/workflows/245

[2021-11-29 12:15] #62 closed

[2021-12-03 23:10] llivermore opened #69 "Paper: Landscape Analysis for the Specimen Data Refinery"
Historical record of publication output: https://doi.org/10.3897/rio.6.e57602

Published on 14 Aug 2020.

[2021-12-03 23:11] #69 closed

[2021-12-03 23:16] llivermore opened #70 "Abstract: "Extracting Data at Scale: Machine learning at the Natural History Museum" TDWG 2021"
Scott B, Livermore L (2021) Extracting Data at Scale: Machine learning at the Natural History Museum. Biodiversity Information Science and Standards 5: e74031. https://doi.org/10.3897/biss.5.74031

[2021-12-03 23:16] #70 closed

[2021-12-03 23:19] llivermore opened #71 "Presentation: "Extracting Data at Scale: Machine learning at the Natural History Museum" TDWG 2021"
Given by Ben Scott in SYM01 - Applications of machine learning in biodiversity image analysis. Monday 18 October 2021.

[2021-12-03 23:19] #71 closed

[2021-12-07 09:52] llivermore commented on #68
Hi @matdillen, @Cubey0, @emhaston, @droepert, and @kris-loh are you able to validate and correct text line transcriptions in the herbarium sheet dataset? I am hoping to get these done over Christmas.

[2021-12-07 09:56] llivermore commented on #68
@kris-loh can you prioritise MNHN, Tartu and Naturalis? I will prioritise NHM, Kew and Luomus.

[2021-12-07 14:01] matdillen commented on #68
@martinteklia I have a few questions, after doing [one](https://arkindex.teklia.com/element/4aac71e1-a3d3-4492-934d-76db849d724a) of the tasks:

- I can't seem to add unclear_transcription. I can find it in the dropdown, but clicking Add doesn't do anything. I wanted to add this for the two lines which are partially covered by the plant, and which the algorithm get more or less right at least for

[2021-12-08 11:41] martinteklia commented on #68
Yes, there's a bug with adding a class. Thanks for pointing it out! We're working on fixing it.

Yes.

If there's a lot of them, it would be better to use `&`, but if there's only a few then it can be kept unedited.

All the text boxes there have been made by humans. Only best matching text box is chosen to put the GCV annotation - there is no point to transcribe everything twice.

So you mean ins

[2021-12-08 11:45] martinteklia commented on #68
Some statistics of the transcription correction/validation process:

* `manual_trans_line_count` is the number of manual `text_line` transcriptions
* `total_line_count` is the number of `text_line` polygons drawn by you in the previous annotation task
* a page is considered completed if every `text_line` has a manual transcription
* a page is considered started if at least one `text_line` has a ma

[2021-12-08 11:49] martinteklia commented on #68
Also the gold standard transcriptions have been copied to the annotated `text_line` elements where possible, for example (`s8+ GCV Gold Standard`) https://arkindex.teklia.com/element/300fdafc-c75e-4161-9a79-ec9f28a4ed9b?highlight=878a171e-5fa4-43f7-95fb-1ec92622ab2f

[2021-12-08 12:04] matdillen commented on #68
Okay, so I'll just delete the duplicated text lines and keep the ones with GCV transcriptions.

No, for every GCV transcription, there would already be a 'manual' annotation. The validators don't have to add it each time, they only need to edit it if needed and add manual annotations to text missed by GCV.

So, instead of clicking A+ and copy each time, these steps would have been done already as

[2021-12-08 12:59] martinteklia commented on #68
Yes the main reason why we're doing it like this is because otherwise it's hard to tell whether a transcription was already correct and didn't need any changes or the annotator just forgot to correct.

Another way would be to add a class to lines that are already correct `validated_transcription`.

Or the class could be on page level and we would trust that the annotator has validated (and correct

[2021-12-08 13:10] PaulBrack commented on #67
Would be very helpful to have a clone of live environment to roll out breaking changes to before we enter UAT

[2021-12-08 14:44] martinteklia commented on #68
It is fixed now. Do a hard refresh on the page to update it. (The version at the bottom of the page should be `1.1.3-p1`).

[2021-12-09 10:17] emhaston commented on #68
We now have some specimens where the s8+ GCV Output and the Gold Standard are both incorrect - picking up text from outside the polygon for example.

In these examples, we are copying and editing the original s8+ GCV Output and leaving the Gold Standard Output as is.

![image](https://user-images.githubusercontent.com/6713716/145377638-f18b1cd2-c1e5-4a38-a560-b99de9ec06bf.png)

[2021-12-09 10:31] martinteklia commented on #68
Yes, you're supposed to only create one manual transcription. The gold standard was added in case it's already correct, so you would need to only click on the copy button and save time by not correcting the transcription.

[2021-12-09 11:16] Cubey0 commented on #68
If gold (or any existing) is correct do we still need to create manual?

[2021-12-09 11:30] emhaston commented on #68
We've now completed the first page of the RBGE dataset - 20 specimen records. The OCR has all been checked, a manual copy created, corrected where necessary.

[2021-12-09 11:35] martinteklia commented on #68
Yes, because otherwise it's hard to tell if the transcription is correct or just forgotten to be validated. (It's also said in step 6 of the guide at the beginning of the issue)

[2021-12-10 10:14] PaulBrack commented on #19
### Feedback from reviewers

Reviewer #1: This is an interesting and well written editorial highlighting some of the key considerations scientists should think about when trying to make software tools 'workflow-ready' - a key step in getting their tool used by a wider community and/or used in automation.

The 'rules' proposed are logical and, mostly, well explained. Some of these topics are more c

[2021-12-10 16:22] martinteklia commented on #68
There are 10 `text_line` elements without a manual or gold standard (`s8+ GCV Gold Standard`) transcription in the 20 pages of RGBE:
* https://arkindex.teklia.com/element/db5d20fc-ee07-4520-9ce7-d0338e09b712?highlight=6844d895-52ba-463c-8f87-fbf01beabb12
* https://arkindex.teklia.com/element/d93a08ec-bc1a-47b8-ae51-e4248c807691?highlight=48ee68db-ba50-4dcd-ad16-1ab388c925bb
* https://arkindex.tekl

[2021-12-15 11:06] PaulBrack commented on #59
Writing proposed solution today

[2021-12-15 11:06] PaulBrack commented on #61
Removing as too low priority to chase

[2021-12-15 11:06] #61 closed

[2021-12-15 11:10] llivermore commented on #64
This should be enough information for @PaulBrack to add IIIF as an input for testing.

[2021-12-15 11:10] #64 closed

[2021-12-15 11:21] PaulBrack opened #72 "Add persistent bulk download per user per batch"

[2021-12-15 11:26] PaulBrack commented on #41
Working now

[2021-12-15 11:26] #41 closed

[2021-12-15 11:31] llivermore opened #73 "Create a Galaxy tool for NER on OCRed text"

[2021-12-15 11:35] llivermore opened #74 "Promoting data to the specimen record"
Need to know when to accept data from tools to update the specimen record. Will likely need to test and determine the certainty thresholds for different tools. Initial release will not be clever and likely to be hard to get right. Some institutions may have different tolerances for certainty... Need some data before we can meaningfully discuss!

[2021-12-15 11:43] llivermore opened #75 "Write up issues to fulfil user story 3 - enrichment"
"As a collections manager/curator, I want to run several digital specimens through a workflow in order to enrich my digital specimens with additional data"

[2021-12-17 11:48] kris-loh commented on #68
@llivermore I finished MNHN, Naturalis and have 10 left for Tartu. Would you like me to do some more?

@martinteklia I accidentally deleted two "s8+ GCV" transcription. The Copy sign is right next to the delete and I accidentally clicked on the wrong one.

[2021-12-17 12:36] martinteklia commented on #68
As long as there's a manual transcription, it's not a problem.

[2021-12-17 14:23] Cubey0 commented on #68
These 10 are now sorted.

 "There are 10 text_line elements without a manual or gold standard (s8+ GCV Gold Standard) transcription in the 20 pages of RGBE:"

[2021-12-17 17:10] martinteklia commented on #68
Progress stats:

| folder_name   |   manual_trans_line_count |   gold_trans_line_count |   total_line_count |   completed_pages |   started_pages |   total_pages |
|:--------------|--------------------------:|------------------------:|-------------------:|------------------:|----------------:|--------------:|
| BGBM          |                       320 |                       0 |                32

[2022-01-04 10:29] martinteklia commented on #68
Progress stats:

| folder_name   |   manual_trans_line_count |   gold_trans_line_count |   total_line_count |   completed_pages |   started_pages |   total_pages |
|:--------------|--------------------------:|------------------------:|-------------------:|------------------:|----------------:|--------------:|
| BGBM          |                       320 |                       0 |                32

[2022-01-05 14:22] PaulBrack commented on #74
For UC2 (de novo digitisation) - set a threshold configurable at runtime, if there is a conflict choose higher confidence named entity
For UC3 (enrichment digitisation) - this is a harder problem as it requires overwriting existing data - defer planning on this for now

For either use case, I suggest we need a workflow step at the end of a run that promotes digitised data to the specimen record

[2022-01-19 14:14] llivermore commented on #68
We need more pages and transcribed lines (double). The focus should be on for lines of handwritten text.

[2022-01-19 14:23] emhaston commented on #68
Bit of a stupid question. If we pick and choose pages for handwritten text and they are scattered through the batch, I'm assuming that is not a problem for you knowing what has been done?

[2022-01-27 17:20] jblettery commented on #68
I am available to do verification/transcription.
Which pages should be prioritised?

[2022-01-27 17:23] Cubey0 commented on #68
My understanding was pages with handwritten text should be prioritised as OCR of test is a "known" model.

[2022-01-27 18:10] #55 closed

[2022-01-28 09:23] martinteklia commented on #68
Yes, recognizing handwritten text is harder than printed text.

[2022-01-30 16:01] jblettery commented on #68
RBGE page 2 and 3: transcriptions of handwritings are made.
- Some lines of text have not been covered by s8+ GCV Gold Standard
- page 3: some sheet do not have a preview
- Sometimes, s8+ GCV Gold Standard takes two lines and mixes them into one often (ex: E00117382 Text-line13 - 14)
- sometimes missing selection boxes (e.g. geographical coordinates in sheet E00112411

Overall, "s8+ GCV Gold Stand

[2022-01-31 12:55] martinteklia commented on #68
The "s8+ GCV Gold Standard" transcriptions have been corrected by humans, so the quality is supposed to be quite high. However, the polygons from google vision were not corrected and they aren't very good (covering multiple lines).

We tried to match the google vision output to the text line polygons made by humans, but the matching is not 100% correct - that's why we need them to be validated (an

[2022-02-09 19:02] kris-loh commented on #68
@martinteklia
I am currently doing more, but looking at the numbers I have some questions.
What makes a page completed?
From what we were doing before Christmas, we should have 20 completed for all the institutes other than BGBM, but I can see there are less. We have 20 started pages, but less than 20 completed.
Can you see which pages are the incomplete?
(It would help to finish those)

[2022-02-10 11:16] martinteklia commented on #68
A page is considered completed if all the lines either have a manual transcription or a gold standard transcription (s8+ GCV Gold Standard).

Updated progress table:

| folder_name   |   manual_trans_line_count |   gold_trans_line_count |   total_line_count |   completed_pages |   started_pages |   total_pages |
|:--------------|--------------------------:|------------------------:|---------------

[2022-03-07 11:11] martinteklia commented on #68
An HTR tool was run on the pages where there were `text_line` elements without any manual transcription.
If you could validate/correct the transcriptions on handwritten lines it would be great.

Most pages from this point forward don't have manual transcriptions:

* MeiseBG: https://arkindex.teklia.com/element/40737841-bfc1-4187-b1f6-3328e53d3aa3?page=5&order=position&order_direction=asc

* RBGE:

[2022-03-07 15:51] stain commented on #19
I've taken over as corresponding author.

20th December we sent in the response to authors and edited version. See https://zenodo.org/record/5901220

Paper now accepted and at proof stage - I'm checking the proof and responding by Wednesday 2022-02-09.

Publication info:

Paul Brack, Peter Crowther, Stian Soiland-Reyes, Stuart Owen, Douglas Lowe, Alan R Williams, Quentin Groom, Mathias Dillen, Fre

[2022-03-11 11:59] stain commented on #67
Oliver has set up a VM in Manchester

[2022-03-11 15:05] llivermore commented on #14
Accepted and preprint available here: https://doi.org/10.1162/dint_a_00134

[2022-03-11 16:14] stain commented on #72
1. Modify workflow input to include batch id
2. Propagate batch id from workflow HTML UI
3. Gather outputs in single directory on server
4. Expose download/export option for end user  (or gather to single workspace?)

[2022-03-11 16:54] stain commented on #19
Corrected proof sent in including fixed figure (they broke resolution)

Will close issue as we know what the DOi will be. Will supposedly be published by 31st March 2022.

[2022-03-11 16:54] #19 closed

[2022-03-16 09:39] llivermore commented on #67
VM in Manchester for personal development, two NHM servers required: staging and live. Will request an additional NHM server.

[2022-03-17 19:39] PaulBrack commented on #14
Published

[2022-03-17 19:39] #14 closed

[2022-03-22 08:01] kris-loh commented on #68
Hi @martinteklia
I can see the changes on the Teklia website. There is one I don't know how to make it work.
So before, when you wanted to transcribe a text box, if you clicked on it, it popped up in an extra window. It doesn't do that anymore, that means when the text is upside down for example, even if I put it "Rotation 180°", nothing happens, I still have to transcribe from looking at the text

[2022-03-22 09:33] martinteklia commented on #68
Hi @kris-loh

Yes, now it's possible to transcribe directly in the details pane on the right, so the user would need to make fewer clicks.

However, as you said, it doesn't support rotated lines.

To transcribe rotated lines, you can click on the `Manage` button. It will open an extra window as before and it should display correctly. https://arkindex.teklia.com/element/ef75c607-9522-4025-88f0-1d3c

[2022-03-22 09:34] kris-loh commented on #68
@martinteklia Thank you for the help!

[2022-03-23 10:27] stain commented on #59
We agreed to delay this till after the May deliverable.

Perhaps have two inputs/outputs of `openDS` (JSON only) and `data` (dataset of files, possibly an RO-Crate) to make data flow within Galaxy explicit rather than implicit for files not yet published with DISSCO (currently stored in a temporary directory within Galaxy).

If we move the common openDS processing to a `pip` installable module, th

[2022-03-23 10:30] stain commented on #56
@OliverWoolland has started on this, extending the https://training.galaxyproject.org/training-material/topics/admin/tutorials/ansible-galaxy/tutorial.html to add on the customizations of https://github.com/DiSSCo/SDR/blob/main/deploy_tools.sh

[2022-03-27 09:58] llivermore opened #76 "Presentation: SDR at SPNHC Conference"
Deliver presentation on the SDR at the June 2022 SPNHC conference in Edinburgh, session on _"Identifiers and labels in natural history collections: new technologies, challenges and opportunities for linking objects and data"_. Details TBC

[2022-03-27 13:34] llivermore opened #77 "Deliverable 8.2"
**Description**
TBC

**Tools**
- [ ] #38
- [ ] #73
- [ ] #6

**Tool testing/functionality for UAT**
- [ ] #60
- [ ] #74
- [ ] #67
- [ ] #72
- [ ] #63

**Training data**
- [ ] #68

[2022-03-27 14:16] llivermore opened #78 "Deliverable 8.3 (June 2022)"
**Description**
Corresponds to SYNTHESYS+ Task 8.3 _"Development of cloud platform for data-processing services."_

There were no subtasks for this task and associated Deliverable, but the following are described in the description:

1. web-based cloud platform will handle the execution of workflows held in the registry (task 8.2.6)
2. an (openly?) accessible user interface
3. authentication and a

[2022-03-27 14:18] llivermore commented on #65
No longer relevant for M36 reporting.

[2022-03-27 14:18] #65 closed

[2022-03-27 14:22] llivermore commented on #53
The description for Subtask 8.2.3 "Image analysis" is as follows:
_Configurable specimen colour analysis and measurement tools will be developed. This will include semantic segmentation of features of interest in images (e.g. labels, specimens, landmarks). Prototypes will be developed for 1) Automated collection assessment tools (e.g. verdigris in entomological collections, degradation of microsco

[2022-03-27 14:26] llivermore opened #79 "Deliverable 8.4 (December 2022)"
Description
Corresponds to SYNTHESYS+ Task 8.4 "Data Delivery and Exploitation"

There were no subtasks for this task and associated Deliverable, but the following are described in the description:

[2022-03-27 14:27] llivermore commented on #78
Full task description:

[2022-03-27 14:28] llivermore commented on #77
Full task description:

[2022-03-27 14:34] llivermore commented on #75
@OliverWoolland can you share the spreadsheet where we commented on the MVP and gave tasks a rough MoSCoW prioritisation?

[2022-03-27 14:37] llivermore commented on #56
When finished and tested will this also close #54?

[2022-03-27 14:44] llivermore commented on #76
Abstract

[2022-03-30 09:03] OliverWoolland commented on #75
https://docs.google.com/spreadsheets/d/14VyLvdxmLqPiOsFDw-hv4Ud3GDMsuJbbp58zAelUy9I/edit?usp=sharing

[2022-03-30 10:15] OliverWoolland commented on #56
[cad04a2](https://github.com/OliverWoolland/ansible-galaxy/commit/cad94a2f33649ba555a36b588ecb71f19b73346f)

Adds SDR tools to the Galaxy deployment, full testing still needed

[2022-03-30 10:16] OliverWoolland commented on #56
Yes I should think so

[2022-03-30 10:24] OliverWoolland opened #80 "Investigate possible use of Galaxy API"
Discussions [(slides presented)](https://docs.google.com/presentation/d/1lDltHBvUVkdZJKGIYIqGVucJAD0z-tXELXm3eHRqkGo/edit?usp=sharing) about the overall DiSSCo architecture highlighted a potential need to call the SDR (and other) workflows using an API. In particular the ability to provide a REST service was queried.

Galaxy provides some API functionality which may(?) be sufficient for these need

[2022-03-30 10:24] OliverWoolland commented on #80
@stain Are you aware of any Galaxy users currently using the API who we could ask about this?

[2022-04-01 07:54] OliverWoolland opened #81 "Introduce unit testing for galaxy tools"
[Planemo](https://planemo.readthedocs.io/en/latest/) provides easy to use functionality to check the syntax and function of Galaxy tools.
[code]
should be used to check tool syntax and
[code]
should be used in conjunction with versioned test files to validation function.

These commands should be built in to the Ansible scripts being developed for #56

[2022-04-13 13:29] stain commented on #67
Thanks to @benscott @llivermore, now myself and @OliverWoolland have three VMs:

* `sdr-poc-1`  (live on <https://sdr.nhm.ac.uk/>) **production**
* `sdr-dev` (behind NHM firewall) **test**
* `vm-rvmi-eps062` (behind UNIMAN firewall) **dev**

Plan is to test Ansible script (#56) first on the Manchester VM, then `sdr-dev`.  The script installs the [SDR workflows](https://github.com/DiSSCo/SDR/tree/m

[2022-04-14 09:06] OliverWoolland opened #82 "Allow creation of new user accounts with SDR workflow imported by default"
Currently new users would have to have import the SDR workflow from the shared workflow list.

It would be preferable if new users were created with the workflows ready to use.

This could be achieved by creating an Ansible playbook, run by an admin, which creates and initialises new user accounts using the galaxy API.

[2022-04-14 09:13] OliverWoolland opened #83 "Create a bootstrap admin user"
The use of a bootstrap admin user (existing only during Galaxy installation) would allow the Galaxy API to be used during installation.

This could be achieved by:
- Setting the master_api_key in the galaxy config
- Using the master_api_key to create a bootstrap user with an admin registered email address
- Performing API tasks (e.g. adding shared workflows from SDR repo)
- Deleting the bootstrap

[2022-04-20 07:50] OliverWoolland commented on #60
Intending to automate the addition of users as an Ansible playbook which can be run by an Admin

[2022-05-04 09:27] OliverWoolland opened #84 "Example CSV"
An example CSV for driving the bulk processing tool would be a useful addition to the repo.

[2022-05-04 12:06] OliverWoolland opened #85 "Workflowhub Administration / Adoption"
Currently the Workflowhub Teams is administered by Paul - this should probably be reassigned. Would @stain be able to do this?

Further, it would be useful to have a discussion about what integration with WFH the SDR project should aim for.

[2022-05-11 09:24] OliverWoolland commented on #72
Aim to export: OpenDS, OpenDS flat as csv, PROV / run metadata (e.g. tool versions, config options)

[2022-05-11 09:30] llivermore opened #86 "Create a Galaxy tool to convert openDS JSON to CSV"
We need a tool to convert openDS to CSV. Flattened CSV files will be much easier for users to evaluate and test compared to the openDS JSON.

[2022-05-11 11:23] llivermore commented on #74
Moving this into #79 as this will require some user testing and evaluation. We will make recommendations in the final report for the SDR.

[2022-05-11 11:34] llivermore opened #87 "Set up testing server with DiSSCo technical team for enrichment service evaluation"

[2022-05-11 11:35] llivermore commented on #67
We now have all the servers we need to testing within the scope of the SYNTHESYS+ project. There is further work to do RE #87 but this falls into the work of #79

[2022-05-11 11:35] #67 closed

[2022-05-11 11:49] OliverWoolland commented on #43
After merging the [remove-ruby branch](https://github.com/DiSSCo/SDR/commit/058cb18133d47ad6f2c31c885b758f2181770c81) and applying fixes [#1](https://github.com/DiSSCo/SDR/commit/fcab9056a63f838710d6e907b80908ff8d050c23) [#2](https://github.com/DiSSCo/SDR/commit/772bb46190b7fcc02ee8a11db039a5c9f3c5b0b4) the Ruby tools have been removed and replaced with Python tools

[2022-05-11 11:49] #43 closed

[2022-05-11 11:51] llivermore opened #88 "Create a Galaxy tool for verdigris detection in pinned insect images"
Create a tool to perform automated conservation assessments for potential verdigris/copper corrosion products in pinned entomological specimens.

[2022-05-11 22:29] llivermore opened #89 "Create a Galaxy tool for reconciling people"
The tool should be able to take text strings and reconcile them with external identifiers e.g., ORCIDs, Wikidata Q codes, and others.

[2022-05-11 22:30] llivermore opened #90 "Create a Galaxy tool for reconciling taxon names"
The tool should be able to take text strings and reconcile them with external identifier providers e.g., Catalogue of Life+ IDs, GBIF's Backbone Taxonomy, and others.

[2022-05-12 18:51] llivermore commented on #89
Suggest reading and reviewing work in: https://doi.org/10.1371/journal.pone.0261130

[2022-05-25 10:56] llivermore commented on #6
2022-05-19 update from Ida (Stockholm/NRM) for documentation and summary of work:

The detailed technical documentation is in GitHub, under UK branch:
[https://github.com/Naturhistoriska/Georg/tree/uk](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FNaturhistoriska%2FGeorg%2Ftree%2Fuk&data=05%7C01%7Cl.livermore%40nhm.ac.uk%7C4a43758a0a84417699a708da39b09a70%7C73a29c0

[2022-05-26 09:22] OliverWoolland opened #92 "Instance should be upgraded to https"
Currently, the Ansible deployment scripts create a Galaxy instance which serves on HTTP.

This should be upgraded to HTTPS using the functionality already outlined in the example deployment at https://github.com/galaxyproject/ansible-galaxy

[2022-05-31 09:56] benscott commented on #38
Galaxy barcode tool wraping bardecode linux SDK is ready for testing on SDR dev.

[2022-05-31 11:20] llivermore commented on #38
Tested on sdr-dev but getting a tool error:
[code]
Used the attached workflow and csv:

- [Galaxy-Workflow-De_novo_digitisation_-_LL_(barcode-test).zip](https://github.com/DiSSCo/SDR/files/8804615/Galaxy-Workflow-De_novo_digitisation_-_LL_.barcode-test.zip)
- [SingleRowTest.csv](https://github.com/DiSSCo/SDR/files/8804626/SingleRowTest.csv)

[2022-05-31 11:36] OliverWoolland commented on #82
This has been achieved and minimally tested

[2022-05-31 11:42] OliverWoolland opened #93 "Implement a set of centrally managed and updated workflows"
To allow users to quickly get up and running with the SDR it may be preferable to manage a set of centrally managed workflows, updated and maintained by the SDR developers.

Currently workflows from the SDR repository are only pushed to users once, when the user is created.

Open questions are:
1. Should the SDR devs be able to push workflows to users?
2. Should pushed workflows be allowed to over

[2022-05-31 12:06] llivermore commented on #84
For NHM testing and evaluation I will reference examples in our Data Portal.

NB: specimen persistent URL example: https://data.nhm.ac.uk/object/e94e5adc-6394-4bb5-9683-289fe349c8a6
image persistent URL example: https://data.nhm.ac.uk/media/6b2e3631-387e-4162-8960-8e75fc34709d

/object/ is specimens, /media/ is images

https://data.nhm.ac.uk/media/6b2e3631-387e-4162-8960-8e75fc34709d is also the b

[2022-05-31 12:58] llivermore commented on #84
Two examples to be getting on with:
[PinnedInsect-SingleRow-Example.csv](https://github.com/DiSSCo/SDR/files/8805295/PinnedInsect-SingleRow-Example.csv)
[PinnedInsect-TenRow-Example.csv](https://github.com/DiSSCo/SDR/files/8805296/PinnedInsect-TenRow-Example.csv)

Will create a larger example and need to add examples for herbarium sheets and microscope slides.

[2022-05-31 13:02] llivermore opened #94 "Evaluate Galaxy Tool for image segmentation"
The Teklia DLA (segmentation) worker tool requires further testing at scale (e.g., full range of preparation types and larger test datasets) and potential improvements to the model, and possibility filtering out false positives through additional logic e.g., low confidence values or improbable polygons.

[2022-05-31 13:03] llivermore commented on #94
Tested with simple DLA workflow using the single row pinned insect CSV:
[PinnedInsect-SingleRow-Example.csv](https://github.com/DiSSCo/SDR/files/8805107/PinnedInsect-SingleRow-Example.csv) - gives close to expected results: 1 specimen, 3 labels (one false positive with a low confidence value of 0.69), 1 scale bar, 1 barcode

![image](https://user-images.githubusercontent.com/7243779/171174942-53cb

[2022-05-31 13:48] llivermore opened #95 "Evaluate Galaxy tool for HTR/OCR"
The Teklia handwritten text recognition (HTR) / optical character recognition (OCR) worker tool (https://github.com/DiSSCo/SDR/issues/39) requires further testing at scale (e.g., full range of preparation types and larger test datasets) and potential improvements to the model.

[2022-05-31 15:06] OliverWoolland commented on #52
This tool is functioning and performing as expected, there is some technical debt and refactoring would be a good idea later.

[2022-05-31 15:06] #52 closed, assigned to llivermore

[2022-05-31 15:16] OliverWoolland commented on #56
The deployment playbooks have now been tested on multiple platforms, development continues but the functionality is in place

[2022-05-31 15:16] #56 closed

[2022-05-31 15:18] llivermore commented on #10
Considered a "could" have feature in the latest review of MVP - review in July

[2022-05-31 15:21] llivermore commented on #18
Review fields and outputs we are currently creating and map to latest version of openDS

[2022-05-31 15:23] OliverWoolland commented on #33
Hi @benscott were you imagining this during deployment or during a workflow run itself?

[2022-05-31 15:29] OliverWoolland commented on #54
@benscott did your commits to the ansible deployment repo (creating environment variables) close this issue?

[2022-05-31 15:36] OliverWoolland commented on #58
Provisionally closing as create_opends Python code both creates the opends and downloads the image

[2022-05-31 15:36] #58 closed

[2022-05-31 15:51] OliverWoolland commented on #72
If a collection of openDSs is to be exported, this could be packaged as an RO-Crate. For the interested this would add metadata but for those not - it is still a zip file

[2022-05-31 20:06] llivermore commented on #1
Any datasets should go into the separate datasets repository: https://github.com/DiSSCo/sdr-datasets

We are not using any additional datasets, but if we do they should go into the documentation/wiki for the datasets repository

All the datasets created with Teklia are ready to be incorporated into the datasets repository and are in Teklia GitLab.

[2022-05-31 20:06] #1 closed

[2022-05-31 20:19] llivermore commented on #4
For labelling the pinned insect dataset (https://github.com/DiSSCo/SDR/issues/2) text we used 11 classes:

1. Collection/Donation
2. Date
3. Determination
4. Expedition
5. Identifier
6. Location name
7. Person name
8. Sampling Protocol
9. Sex
10. Taxon name
11. Type status

We may need additional classes and/or to refine these classes once we do additional testing using the reconcilation/text proc

[2022-05-31 20:19] #4 closed

[2022-05-31 20:25] #5 closed

[2022-05-31 20:30] llivermore commented on #6
There is a branch that needs testing/merging ([ben/georg](https://github.com/DiSSCo/SDR/tree/ben/georg)). I have done some initial testing on example strings from the NHM Data Portal for both Swedish and UK localities.

This is will be dependent on the outputs of #73 and the possible changes to approach discussed in #59.

[2022-05-31 20:34] llivermore commented on #11
@stain can you get an update on where this is at from the core Galaxy team and whether there is additional research/input required from me or others?

[2022-05-31 22:21] llivermore opened #96 "Add segmentation models for microscope slides and herbarium sheets"
The current DLA/segmentation tool only supports text line recognition and pinned insect segmentation. The text line recognition tool (#39) will theoretically work on different specimen types but requires testing (see #95).

[2022-06-01 10:21] llivermore opened #97 "Evaluate Galaxy tool for reading barcodes"
Initial testing has shown the barcode reading tool needs high res images in order to detect barcodes.

Current testing has been run on lower res images. For NHM images we will need to get the original images.

From @jrdh:

[2022-06-01 10:24] llivermore commented on #97
We may want to consider passing in a region of interest (ROI) from segmentation (e.g., from tool #44) but we would need either:

1. Download/get a high resolution region from source (possible using IIIF if implemented) OR
2. Crop the ROI on the server and pass the cropped region to the barcode reader

[2022-06-01 12:08] llivermore opened #98 "Galaxy SDR home page not loading"
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/7243779/171400755-f57973e9-4969-4119-a860-5009ffc65be1.png)
Console errors: [sdr.nhm.ac.uk-1654085119081.log](https://github.com/DiSSCo/SDR/files/8813852/sdr.nhm.ac.uk-1654085119081.log)

Did not load properly on either Chrome of Firefox

[2022-06-01 12:31] OliverWoolland commented on #98
This appears to be due to the server not serving HTTPS yet.

For users that have visited the site before, a cached SSL certificate redirects HTTP output to HTTPS. The HTTPS page then cannot fetch the HTTP iframe of the welecome page.

[2022-06-01 13:37] jrdh commented on #97
As an example, here's a URL that's gets a rectangle from the full res image of the barcode on [this image](https://data.nhm.ac.uk/media/8b62d8d5-6538-4082-9626-2d5e3e61a549) using our IIIF service (so you don't have to download the original): https://data.nhm.ac.uk/media/8b62d8d5-6538-4082-9626-2d5e3e61a549/4080,2130,880,415/max/0/default.jpg. Would be interesting to see if that is recognisable th

[2022-06-01 13:40] OliverWoolland opened #99 "Develop an approach for obtaining user feedback on SDR performance"
As suggested by Christopher [Kermorvant](https://github.com/kermorvant) at the SDR update, it would be useful for users to be able to provide an assessment of the performance of the SDR for specific images.

This feedback could be reported to the SDR development team and Teklia who could use it to improve or retrain models.

[2022-06-01 13:40] OliverWoolland commented on #99
One suggestion is to use RO-Crates to bundle images, tool output and feedback for sharing with partners.

[2022-06-07 16:19] dshorthouse commented on #89
See also https://bionomia.net/reconcile

[2022-06-29 09:23] benscott commented on #6
GEORG works for either scandi or UK.  So we need to require per specimen country ISO code.  Locality string is available from Teklia tool, so add that in.

[2022-06-29 09:26] benscott commented on #6
Create another CVS: with country code and verbatim locality string.

[2022-06-29 15:07] llivermore commented on #72
The switch to collections allows a user to easily download all submitted samples/specimens from their History(ies). There is some additional functionality we may want.

[2022-06-29 15:07] #72 closed

[2022-06-29 15:12] llivermore commented on #85
@stain has updated administration to include @llivermore and @OliverWoolland

[2022-06-29 23:07] llivermore commented on #60
I created a single testing account for Kate (one of the NHM digitisers) with the following test tasks:
1)	Login
2)	Import a workflow (Telkia's DLA tool and collections)
3)	Run a workflow
4)	View outputs and download data
5)	Copy and edit the “PinnedInsect-TenRow-Example.csv”
6)	Repeat steps 3 and 4 using your edited specimen file and make some notes on how good the regions of interest are

If the

[2022-06-30 07:54] OliverWoolland commented on #98
Now resolved by [142c417](https://github.com/NaturalHistoryMuseum/sdr-ansible/commit/142c4171e222c0c90c7c5ad49738a7db3564e551) which forces the elevation of HTTP requests

[2022-06-30 07:54] #98 closed

[2022-06-30 07:56] OliverWoolland commented on #83
Fixed by [6664188](https://github.com/NaturalHistoryMuseum/sdr-ansible/commit/666418863edf81067fd74791b64caf0ef9604d79)

[2022-06-30 07:56] #83 closed

[2022-06-30 07:58] OliverWoolland commented on #80
Galaxy API now used for several deployment tasks

[2022-06-30 07:58] #80 closed

[2022-06-30 07:59] OliverWoolland commented on #57
[css](https://github.com/DiSSCo/SDR/commit/2b6cfbd6c180a6b57f7209c4459453d8e4b4d16d) split from master file

[2022-06-30 08:00] OliverWoolland commented on #57
Closed in error

[2022-06-30 08:01] OliverWoolland commented on #63
[minified library moved](https://github.com/DiSSCo/SDR/commit/ef9b21d78858d3501e39edbd5fd63523ea6f1866)
[css moved](https://github.com/DiSSCo/SDR/commit/2b6cfbd6c180a6b57f7209c4459453d8e4b4d16d)
[js moved](https://github.com/DiSSCo/SDR/commit/b04479fd1b0b723944e621d3233b0a209f99ee1e)
[page refactored](https://github.com/DiSSCo/SDR/commit/3861629a3452147108313f8a46fbfb2a4d5704af)

[2022-06-30 08:01] #63 closed

[2022-06-30 14:02] llivermore commented on #60
Initial test went well - tested external (non-NHM VPN/wired/wireless) and no firewall blocks.

Kate will share some feedback on the model/tool results an usability but these will be moved into a separate evaluation/UAT issue.

Next step is to add some additional users as per previous comments.

[2022-07-06 10:15] llivermore commented on #76
**Presentation available here:** Livermore, Laurence; Brack, Paul; Scott, Ben; Woolland, Oliver (2022): Specimen Data Refinery: A novel approach to automating digitisation. figshare. https://doi.org/10.6084/m9.figshare.19947845.v2

[2022-07-06 10:15] #76 closed

[2022-07-06 11:25] llivermore opened #100 "Evaluate and get feedback from users on SDR alpha"
The production SDR instance at the stage where we can conduct user testing (following on from #60 ).

There are separate focused issues for tool performance, but we want to check that users can do the following testing tasks:

1. Login
2. Run a shared workflow
3. View outputs and download data
4. Copy and edit the “PinnedInsect-TenRow-Example.csv”
5. Repeat steps 3 and 4 using your edited specimen

[2022-07-06 12:20] llivermore opened #101 "Evaluate and test SDR for DiSSCo Technical Team"
Expanding on #60  and #100 but expecting the DiSSCo Technical team to have additional testing requirements as part of D8.4/ #79

This may involve deploying another instance of the SDR for them to test and evaluate. Also expecting API evaluation to be part of their resting/requirements.

**DiSSCo Technical Team**
- [ ] Wouter Addink
- [ ] Jonas Grieb
- [ ] Claus Weiland
- [ ] Sharif Islam
- Sam and

[2022-07-06 12:21] llivermore commented on #60
Added initial users. Evaluation and further testing will be done in #100 and more broadly, as part of D8.4 #79

[2022-07-06 12:21] #60 closed

[2022-07-06 12:53] emhaston commented on #100
This instruction is not clear
![image](https://user-images.githubusercontent.com/6713716/177554472-39d66418-37fc-417e-8ee8-753d839bd00e.png)

I'm seeing this
![image](https://user-images.githubusercontent.com/6713716/177554501-736e68d9-d112-4ba4-9c08-b28bab7e72b7.png)

[2022-07-06 12:56] emhaston commented on #100
Clicked Run and got this
![image](https://user-images.githubusercontent.com/6713716/177555076-6f9f3005-2a65-42b7-9040-408900993c46.png)

which I think gives me the folder icon in the next step

![image](https://user-images.githubusercontent.com/6713716/177555178-a27079f8-e5a1-4a68-9dc1-8cbf1ed8b963.png)

[2022-07-06 13:01] emhaston commented on #100
Workflow completed but didn't get a Step 48. Got this output

![image](https://user-images.githubusercontent.com/6713716/177556066-eb2135ad-9eb0-4a91-9b15-9bb9f630a92a.png)

[2022-07-06 13:37] OliverWoolland commented on #100
Thanks for this! I'm curious if this continued when you changed page or if the history was refreshed? The workflow looks to have completed ok but in the screenshot the history seems to lag behind the main report

[2022-07-06 14:00] matdillen commented on #100
What is the vocabulary (if it's used by the workflow) of the Object type column, beyond "Pinned insect"?

I managed to run 5 herbarium sheet images from Zenodo through the DLA workflow. Everything went smooth and the bug outputting the wrong output (filename instead of JSON response) is indeed fixed. The results of the segmentation are not that great, which is to be expected given the different ob

[2022-07-07 09:54] Cubey0 commented on #100
We (@emhaston  & Robyn Drinkwater ) at the RBGE have had a test and we agree with @matdillen that the segmentation model being used may well be an issue preventing a proper assessment of the output.

On top of that @Cubey0 is having an error
![image](https://user-images.githubusercontent.com/9530904/177744493-b415d713-9ed7-4a4d-8e7e-75da21c3f867.png)

When trying to upload an RBGE Image (via the i

[2022-07-07 13:31] llivermore commented on #100
@Cubey0 as per previous comment, note that we only have a segmentation model for pinned insect images at the moment.

@Cubey0 can you share the CSV file you were using to upload?

[2022-07-07 13:52] llivermore commented on #96
@Cubey0 and @matdillen just checking - would you like to have segmentation models for herbarium sheets? We ended up focusing on line detection as the outputs would be used on other tools. I don't think the labelling of regions would take too long if you think it would be interesting or useful.

[2022-07-07 14:01] llivermore commented on #57
@benscott and @OliverWoolland is this issue is still relevant? See @benscott 's original notes in #47

[2022-07-08 10:18] OliverWoolland commented on #100
This is interesting - it is not a use case we have provided functionality for (to my knowledge). At the moment I think only csv upload is viable using existing tools.

There have been discussions about making it easier to drive individual tools using more friendly inputs (such as an actual image) but at the minute the tools are all driven using openDS objects which are somewhat cumbersome to creat

[2022-07-08 14:23] stain opened #102 "FDO Abstract: Incrementally building FAIR Digital Objects with Specimen Data Refinery workflows"
https://docs.google.com/document/d/1qNvskBAgyK_8nJsA3XtrOF2UzzLFoxxnNo7frKvEGMw/edit#

To be submitted to First International Conference on FAIR Digital Object <https://www.fdo2022.org/> by Sunday 2022-07-10.

[2022-07-12 08:17] OliverWoolland opened #103 "Update deployment to Galaxy 22.05"
The SDR project could benefit from upcoming Galaxy releases; in particular 22.09 is expected to introduce ROCrate functionality. To be able to adopt 22.09, the SDR should be updated to 22.05 to minimise the difficulty of transitioning later.

22.05 has introduced more modern hosting techniques (gunicorn, celery) and is beneficial in its own right.

[2022-07-12 08:19] OliverWoolland opened #104 "Investigate HPC / external compute offload"
At scale, the SDR may benefit from the ability to offload jobs to HPC.

Galaxy offload to local HPC has been achieved elsewhere at NHM. A similar approach should be investigated

[2022-07-12 08:20] OliverWoolland commented on #99
https://usegalaxy.fr/training-material/topics/dev/tutorials/interactive-tools/tutorial.html#when-is-an-interactive-tool-appropriate

Galaxy interactive tools could be investigated for this use

[2022-07-12 08:24] OliverWoolland opened #105 "Create a tool for flattening OpenDS objects to CSV"
JSON can be challenging to read and navigate, it would be beneficial to provide options for users to export a flattened representation of an OpenDS object as tabular data (e.g. CSV).

Further, this may ease integration with data management tools

[2022-07-12 15:41] OliverWoolland commented on #100
Thank you for providing the file! I tried running it and I can reproduce your error - I'll dig into it!

[2022-07-13 09:17] #54 closed

[2022-07-13 13:54] llivermore commented on #104
Initial discussion/demonstration of NHM setup planned for Monday 25th July

[2022-07-13 15:33] llivermore opened #106 "TDWG 2022: The Specimen Data Refinery: Using a scientific workflow approach for information extraction"
Draft abstract submitted for TDWG symposium/collection: SYM12 - Information extraction from digital specimen images using Artificial Intelligence

[2022-07-15 07:34] llivermore commented on #95
@La0 I have run a 50 specimen dataset against images the model has not seen. The text line detection is reasonable: there are are few merged lines, missed lines and false positives (usually barcodes). The issue is the HTR output which is barely outputting data for most identified lines.

Could you take a look at the HTR output issue?
Is this format reasonable for you to get into Arkindex/Label Stu

[2022-07-20 09:15] benscott commented on #97
@llivermore - This barcode works correctly: https://github.com/DiSSCo/SDR/blob/main/galaxy-workflow/tools/sdr-barcode/test-data/E00633257_4.tiff

[2022-07-20 11:02] llivermore opened #107 "Enhance visualiser for ROIs to include HTR outputs"
Enhance the visualiser (#49) for ROIs to include HTR (text) outputs. Could work in a similar way to DLA for semantic segmentation (see image) where class name is displayed to user with confidence value.

![image](https://user-images.githubusercontent.com/7243779/179966552-59841627-fd19-4c74-b1a4-9e7fb62bfd92.png)

@OliverWoolland are you happy to take a look at this?

[2022-07-20 11:27] llivermore commented on #97
@benscott Pete tested this "that worked and reasonably quickly (I set it to the majority of linear barcode types in a trial version on my personal laptop)
![MicrosoftTeams-image](https://user-images.githubusercontent.com/7243779/179970781-3d233246-0eed-416a-aefd-6940d244d388.png)

[2022-07-20 11:33] benscott commented on #97
Yep, than one works using the command line client / SDR as well.  The problem is, bardecode fails to detect the barcode for lower resolution images, so you were going to find out from the digitisers a) what resolution images they were using with bardecode and b) run a series of images through bardecode to identify at what resolution identification of barcode fails.

[2022-07-20 12:56] La0 commented on #95
Thanks for generating the test dataset, we'll look into it and report back here.

[2022-07-20 13:03] llivermore opened #108 "Bug: split file tool returns an error with accented characters"
Check whether only ASCII is valid input?

[2022-07-20 14:29] llivermore commented on #97
All five of the images give good returns on barcodes.

Dat file (renamed extension to .txt) from desktop application: [resultsTree20220720151951.txt](https://github.com/DiSSCo/SDR/files/9150744/resultsTree20220720151951.txt)

I will add run parameters when I get them from Pete.

[2022-07-21 09:05] Cubey0 commented on #100
So I tried the Workflow: HTR-Collections-test with a large dataset (200 item herbarium specimens - the gold standard dataset from Edinburgh) and got some odd errors.

Also what are the results on the RHS - I'm seeing JSON data but not sure what the difference bits are

![image](https://user-images.githubusercontent.com/9530904/180174391-ff699d19-9554-4b98-8427-9834d28513cb.png)

Some split file er

[2022-07-21 12:49] llivermore commented on #53
@OliverWoolland can you take a look at this and see how easy it looks to implement as a Dockerised tool for the SDR? We may need to look at the input requirements together.

[2022-07-21 12:54] llivermore opened #109 "Investigate potential for uploading local images rather than using URIs for running SDR workflows"
Functionality requested as part of initial alpha testing by Mario Lasseck.

[2022-07-27 09:12] llivermore commented on #18
Current data model:
![draft DiSSCo datamodel-openDS drawio](https://user-images.githubusercontent.com/7243779/181209683-bce8b5e0-b527-4f05-88da-12e1f1a3bd0b.png)

[2022-07-28 05:56] La0 commented on #95
We just published a new release for the HTR tool, version **0.1.2**.

This version was tested on your images & DLA results, and provides better transcriptions.

Here is the diff between your results and ours on the file `split_file_000000`

[code]

You can see we have a lot more transcriptions now instead of `null`.

@llivermore Could you try this new version on your side ? We are also looking at

[2022-08-31 14:57] llivermore commented on #106
Abstract accepted and published here: https://biss.pensoft.net/article/93500/

[2022-08-31 14:57] #106 closed

[2022-09-02 09:08] benscott commented on #97
Bardecode only supports common 1D barcodes by default, other types of barcode need to be registered to be detected.

I've enabled data matrix detection in #672011196a752636c9f24fd2211ddc1c0331d612 which will fix it for the test images above. I need to enable other barcode types we expect to see, but enabling all will degrade performance. @llivermore I think you have previously investigated barcode

[2022-09-23 09:02] #108 closed

[2022-09-23 09:08] OliverWoolland commented on #103
This has now been achieved and has been deployed in both development and production

[2022-09-23 09:08] #103 closed

[2022-09-23 09:10] OliverWoolland commented on #86
A tool for this has been created and initial testing has been performed. See 69edbdbd55681826c125141ce76b05e276e8a06f and 0f8138eadc9af130647a7a1565c46c5b3a15c75f

[2022-09-23 09:13] OliverWoolland commented on #53
A functioning Mothra tool has now been developed. See 47ea8fae3b0838fbcf26fd56254624ca5bbeaad8 and b3dc9602c4f2144c344017c7271465c6bc984c25

[2022-09-23 09:50] #53 closed

[2022-09-23 12:22] llivermore commented on #104
SDR Team still keen to still try a demonstration - Manchester infrastructure want to evaluate Galaxy as a user interface to HPC. Other groups at Manchester evaluating/considering using Galaxy to process large amounts of research data.

[2022-09-23 12:27] OliverWoolland opened #110 "Check Ansible scripts for sensitive data and make public when safe"

[2022-09-23 12:30] stain commented on #11
Galaxy folks says this is still planned for the 2022.09 release. A nice unified UI is also coming along for both BioCompute object and RO-Crate export.  See

https://github.com/galaxyproject/galaxy/pull/14606
https://github.com/galaxyproject/galaxy/pull/14639

[2022-10-25 10:38] OliverWoolland opened #111 "Create technical documentation"
Technical documentation for the SDR should be produced, this should stem from the project's README file and link to more detailed help and guides. The documentation could follow the [diataxis](https://diataxis.fr/) style.

If diataxis was adopted then the following documents could be produced:

Tutorial
- [ ] Simple journey, uploading reference file to reference SDR instance and running reference

[2022-10-26 09:12] llivermore commented on #15
Being publishing as a pre-print in Authorea. Target journal being discussed again.

[2022-10-26 09:17] llivermore commented on #10
@stain and @OliverWoolland I think we should discuss some of the broader issues around handling FDOs in Galaxy and how we could handle validation between tools. Not sure there is a simple answer but certainly not something we can address before the end of SYNTHESYS+.

[2022-10-26 09:22] llivermore commented on #11
Moved to backlog and awaiting release from core Galaxy team - 2022.09 not released yet.

[2022-10-26 09:25] llivermore commented on #16
Not intended for development in current project and unclear if it would be needed in the future.

[2022-10-26 09:25] #16 closed

[2022-10-26 09:29] #17 closed

[2022-10-26 09:32] llivermore commented on #18
We are using a single object-based approach in the SDR which combines the image and the specimen data. This was in part due to the openDigital Specimen schema being under active development, and challenges using FDOs in Galaxy (at least in our approach). We have not updated the fields to the latest specification - first stable release is due after SYNTHESYS+ funding is over.

[2022-10-26 12:10] llivermore commented on #27
Implementing a schema dynamically would probably break workflows at some point. It would need to be done in a FAIR way and it's questionable whether we would want to (or could sensibly) implement a dynamic schema. NB: We have not updated the fields to the latest specification - first stable release is due after SYNTHESYS+ funding is over see also #18

[2022-10-26 12:14] llivermore commented on #33
This would rely on implementing #27 and #18 which we will not implement during the SYNTHESYS+ project. I think this would make more sense to use an external validator/service, perhaps provided by DiSSCo?

[2022-10-26 12:14] #33 closed

[2022-10-26 12:16] llivermore commented on #39
We have tested the tool on different specimen image types - the model could be improved but it works.

[2022-10-26 12:16] #39 closed

[2022-10-26 12:20] llivermore commented on #51
This will be challenging to implement as there is potentially data which cannot be easily mapped to DarwinCore and flattening hierarchical data is not easy. It makes more sense to reconsider building an exporter/converter once the open Digital Specimen standard is stable.

NB there was also a discussion at TDWG 2022 lead by David Fichtmueller to discuss mapping different biodiversity data/specimen

[2022-10-26 12:20] #51 closed

[2022-10-26 12:26] llivermore commented on #57
We are not currently using validation and can see benefits of implementing it, but not at the current prototypic stage, and with significant future modifications of the open Digital Specimen. There is [partially implemented tool](ttps://github.com/DiSSCo/SDR/tree/main/galaxy-workflow/tools/validate-opends) that has been re-written in Python by @OliverWoolland. Moving this to will not fix.

[2022-10-26 12:26] #57 closed

[2022-10-26 12:33] llivermore commented on #59
Also described on this slide ![FDO Challenges](https://user-images.githubusercontent.com/7243779/198026778-2ffbf3da-79b0-4fae-bc69-8cf2583397c4.png). Also here: Livermore, Laurence; Brack, Paul; Scott, Ben; Soiland-Reyes, Stian; Woolland, Oliver (2022): The Specimen Data Refinery: Using a scientific workflow approach for information extraction. figshare. Presentation. https://doi.org/10.6084/m9.fi

[2022-10-26 12:36] llivermore commented on #68
We need to publish and document the updates to this dataset (ideally) before the completion of the project.

[2022-10-26 12:37] llivermore commented on #73
We have tested the tool on different specimen image types - the model could be improved but it works.

[2022-10-26 12:37] #73 closed

[2022-10-26 12:40] llivermore commented on #74
Should look add existing functionality in Galaxy e.g., [adding labels to workflow outputs](https://training.galaxyproject.org/training-material/topics/galaxy-interface/tutorials/workflow-reports/tutorial.html#add-labels-to-workflow-outputs) (suggested by @OliverWoolland )

[2022-10-26 12:45] #18 closed

[2022-10-26 13:43] llivermore commented on #15
Preprint live!
Cite as: Quentin Groom, Mathias Dillen, Wouter Addink, et al. Envisaging a global infrastructure to exploit the potential of digitised collections. Authorea. October 26, 2022.
DOI: [10.22541/au.166678848.82362633/v1](https://doi.org/10.22541/au.166678848.82362633/v1)

[2022-10-26 13:43] #15 closed

[2022-11-02 10:38] stain commented on #10
We've agreed that to make FDO tooling for Galaxy will not be planned for this project as it is still too unclear from DiSSCO where/how openDS FDOs should be stored/retrieved.  Using FDO as a data layer should also be further integrated in Galaxy side rather than in each of the SDR tools (e.g. caching).

SDR tools now have brief descriptions in their Galaxy tool registration. Technical documentatio

[2022-11-02 10:38] #10 closed

[2022-11-02 10:46] OliverWoolland commented on #10
This functionality is not planned during the current development cycle.

We have identified some [challenges](https://doi.org/10.5281/zenodo.7233688) with implementing incremental Fair Digital Objects within workflows.

To fully achieve this aim, it is likely that changes would need to be made to Galaxy itself. To allow the specification of FDOs and profiles in a tool's description to have meaning

[2022-11-02 10:50] #27 closed

[2022-11-09 10:35] llivermore commented on #111
For reference, see:

- https://www.brachiograph.art/
- https://diataxis.fr/adoption/

[2022-11-09 11:27] llivermore opened #112 "Investigate Pulsar as an additional edge computer option for running jobs"
We have a few edge computer machines with decent GPUs (2080 Super, RTX 3070 etc) - using [Pulsar ](https://github.com/galaxyproject/pulsar) would potentially give us access to this compute.

See also #104

We may investigate before the end of the project if there is time.

[2022-11-09 11:29] llivermore opened #113 "Simple journey, uploading reference file to reference SDR instance and running reference workflow"

[2022-11-09 11:30] OliverWoolland opened #114 "Write How-To: Deploy a new instance of the SDR"

[2022-11-09 11:30] OliverWoolland opened #115 "Use Mothra"

[2022-11-09 11:30] OliverWoolland opened #116 "Write How-To: Configuring the job submission engine (how we've done it - config files etc - and links to advanced info)"

[2022-11-09 11:30] OliverWoolland opened #117 "Produce the SDR's input files"

[2022-11-09 11:30] OliverWoolland opened #118 "Write How-To: Add new tools (mostly referencing existing Galaxy documentation) with examples of our tools as templates"

[2022-11-09 11:31] llivermore opened #119 "Description of the Teklia produced SDR tools"

[2022-11-09 11:31] llivermore opened #120 "Ansible scripts and SDR-ification"

[2022-11-09 11:32] llivermore opened #121 "Write Reference: Implementation details of individual custom SDR tools"

[2022-11-09 11:32] llivermore opened #122 "Write Reference: Populating variables of Ansible deployment"

[2022-11-09 11:34] OliverWoolland commented on #113
Started developing tutorial [here](https://github.com/DiSSCo/SDR/blob/docs/docs/tutorial.md )

[2022-11-09 11:50] llivermore commented on #113
I will finish this off

[2022-11-09 11:54] llivermore commented on #117
This will be: CSV files for most workflows and image files for Mothra

[2022-11-09 11:55] llivermore commented on #115
We will do this together - I will write a How To following a show and tell from @OliverWoolland

[2022-11-09 12:05] OliverWoolland opened #123 "Write How-To: How to call Galaxy workflow using API"

[2022-11-09 12:06] llivermore opened #124 "General overview of the SDR for repo readme"

[2022-11-09 12:06] llivermore opened #125 "Write Explanation: Update and beautify Galaxy landing page"

[2022-11-09 12:06] llivermore opened #126 "SDR workflows (outside of Galaxy)"

[2022-11-09 12:06] llivermore opened #127 "SDR tools and workflows (inside of Galaxy, including tags)"

[2022-11-09 12:06] llivermore opened #128 "Collection of tools in WorkflowHub"

[2022-11-11 16:33] OliverWoolland commented on #114
First draft made in 03e5f839e71b168c0ff39dadd36b758cfbe9aa0a

[2022-11-16 10:24] stain commented on #128
We don't have a "Tool" type in WorkflowHub, but we have tool-like workflows with one-two steps. Will check with WorkflowHub devs.

If we wrap each tool with a CWL wrapper each of them can be submitted according to https://about.workflowhub.eu/docs/registering-a-workflow/ and added to https://workflowhub.eu/projects/72

We then build a collection in https://workflowhub.eu/collections

[2022-11-16 11:03] stain commented on #128
Feedback from WorkflowHub call was that it should not be turned into another https://bio.tools/ registry -- however there is movement within ELIXIR to remove the "bio" branding.

It is possible to spin up our own bio.tools instance, but this may be overkill for ~10 tools.

Of course the big challenge is many of the SDR tools are not open source and would be hard to allow directly into the official

[2022-11-22 10:53] OliverWoolland commented on #116
Closed by 0d41cbaac21d96e974104f440f66706411881b9c

[2022-11-22 10:53] #116 closed

[2022-11-22 16:06] OliverWoolland commented on #118
Closed by aac182100ad57145c2ccba63f63e5c3e48d9d55d

[2022-11-22 16:06] #118 closed

[2022-11-23 10:17] OliverWoolland opened #129 "Write Explanation: Detail SDR deployment approach to SSL certificates"

[2022-11-23 12:02] OliverWoolland commented on #121
Closed by 5a00ade88a23fef6c1bc917d9063c9a09facfc3d

[2022-11-23 12:02] #121 closed

[2022-11-29 16:28] OliverWoolland commented on #122
Closed by f48b87d

[2022-11-29 16:28] #122 closed

[2022-11-29 16:44] OliverWoolland commented on #129
Closed by 0b2253a

[2022-11-29 16:44] #129 closed

[2022-11-29 16:54] OliverWoolland commented on #125
Changed to how-to guide, closed by 5ae48c0

[2022-11-29 16:54] #125 closed

[2022-11-29 17:03] OliverWoolland commented on #114
Closing with 4d114c6 although functional checks should be made

[2022-11-29 17:03] #114 closed